// out: ../css/style.css, compress: false, strictMath: true


//COMPONENTS

@import "type.less";

//COLORS
@sun-glow: #FFBF00;
@sun-glow-muted: rgba(213, 130, 21, 0.6);
@grey: #9B9B9B;
.border-radius (@radius: 0px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
//MEDIA QUERIES
.responsive(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
} 


section {
    padding:25px 0px 25px 0px;
    /* top margin fix */ 
    margin-top: 1rem;
}
body {
      
  
    padding-top: 70px;
}
.navbar-custom {
    background:white;
//    border:none;
    height:95px;
    
}

.logo {
    margin-top:10px;
}

.navbar-custom li.active  {
    border-top:10px solid @sun-glow;
    background:white!important;
}
.btn {
//  min-width: 200px;
    min-width: 130px;
    .border-radius;
}

.btn-yellow {
  color: #FFFFFF;
  letter-spacing: 0.9px;
  background: @sun-glow;
  transition: ease .3s;
  &:hover {
    transition: ease .3s;
  }
}

.btn-grey {
  color: #FFFFFF;
  letter-spacing: 0.9px;
  background: @grey;
  transition: ease .3s;
  &:hover {
    transition: ease .3s;
  }
}

.page-title {
    display:inline-block;
h1 {
    background: #ffffff;
    width: 250px;
    height: 94px;
    border-top: 9px solid @sun-glow;
    text-align: center;
    padding-top: 25px;
    display:inline-block;
    }
}

#navbar {
    text-align:center;
}

.content-header {
    background:@sun-glow;
//        height: 150px;
    text-align:center;
    color:white;

    top: 6rem;
//    padding:50px;
//    h1 {padding-top:50px;}
}


    a.navbar-brand {
        border-right:1px solid lighten(@grey, 30%);
    padding-right:20px;
        height:95px;
        
    }

.navbar-right a {
    border-left:1px solid lighten(@grey, 30%);
    padding-left:30px;
    height:95px;
}


.page-title h1 {
    font-size:1.4em;
    font-weight:700;    
}        

.form-breadcrumbs {
    width:500px;
    height:95px;
    background:@grey;
}

.page-title {
    display:inline-block;
}

.form h3 {
    padding-bottom: 15px;
}


//RANGE SLIDER
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.rangeslider__value-bubble {
  background:black;
     color:white;
  display: block;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 25px;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


.rangeslider__value-bubble:before, .rangeslider__value-bubble:after {
  border-width: 11px;
  border-style: solid;
  border-color: transparent;
   
  content: "";
  display: block;
  margin: auto;
  width: 10px;
  position: absolute;
  left: 0;
  right: 0;
}
.rangeslider__value-bubble:before {
  border-top-color: #ccc;
  border-bottom-width: 0;
  bottom: -11px;
}
.rangeslider__value-bubble:after {
  border-top-color: black;
  border-bottom-width: 0;
  bottom: -10px;
}
.rangeslider__fill {
    background: @sun-glow;
    position: absolute;
}

.rangeslider__handle {
    background: @sun-glow;
    border:none;
    &::after{
    background-image:none!important;
    }
}

.rangeslider--horizontal {
    height: 15px !important;
}

.content {
    padding:50px 0px 50px 0px;
}

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cc-selector-2 input {
    position: absolute;
    z-index: 999;
}

.male {
    background-image: url(../img/icon-male-selected.png);
}

.female {
    background-image: url(../img/icon-female-selected.png);
}

.cc-selector-2 input:active +.gender-selector,
.cc-selector input:active +.gender-selector {
    opacity: .9;
}

.cc-selector-2 input:checked +.gender-selector,
.cc-selector input:checked +.gender-selector {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}


.pad-20 {
    padding: 20px;
}

.gender-selector {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 140px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.gender-selector:hover {
    -webkit-filter:  opacity(1);
    -moz-filter:  opacity(1);
    filter:  opacity(1);
}

.maybank-icon {
    background-image: url(../img/banner-Maybank-logo.png);
}

.master-icon {
    background-image: url(../img/banner-master-card.png);
}
.visa-icon {
    background-image: url(../img/banner-visa-card.png);
}

.cc-selector-3 input:active +.payment-selector,
.cc-selector-2 input:active +.payment-selector,
.cc-selector input:active +.payment-selector {
    opacity: .9;
}

    .cc-selector-3 input:checked +.payment-selector,
.cc-selector-2 input:checked +.payment-selector,
.cc-selector input:checked +.payment-selector {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.payment-selector {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.payment-selector:hover {
    -webkit-filter:  opacity(1);
    -moz-filter:  opacity(1);
    filter:  opacity(1);
}


/* Extras */
    .cc-selector-3 input {
    margin: 5px 0 0 12px;
}

.cc-selector-3 label {
    margin-left: 7px;
}

.cc-selector-2 input {
    margin: 5px 0 0 12px;
}

.cc-selector-2 label {
    margin-left: 7px;
}

span.cc {
    color: #6d84b4
}




.breadcrumbs {
    position:relative;
    top:95px;
    width:90%;
    height:96px;
    display:inline-block;
    img {
        text-align:center;
        width:100%;
        height:auto;
        
    }
   .responsive(1199px, {
       top:105px;
    });
    .responsive(991px, {
       top:114px;
    });
     .responsive(767px, {
       top:120px;
    });
     .responsive(478px, {
       top:130px;
    });
    
}



.range-slider {
   
    h3 {margin-bottom:80px;}
}

.slider-label-min {
    float:left;
    padding-top:10px;
    font-size: 1.2rem;
    font-weight:300;
}
.slider-label-max {
    float:right;
    padding-top:10px;
    font-size:1.2rem;
    font-weight:300;
}


.smoker {
    h3 {padding-top:30px;}
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: black;
    font-weight:300;
    font-size: 1rem;
//    padding:20px;
}
input[type="radio"] + label span.check {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span.check {
     background-color:@grey;
}

input[type="radio"]:checked + label span.check{
     background-color:@sun-glow;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span.check {
  -webkit-transition:background-color 0.2s linear;
  -o-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
}
section.form-footer {
    text-align: center;
    background: black;
    border-bottom: 5px solid @sun-glow;
    .social-icons {
        text-align: right;
        .responsive(990px, {
       text-align:center;
            margin-top:20px;
    })
    }
    .footer-text {
        text-align: left;
        .responsive(990px, {
       text-align:center;
            
    });
        p {
            color: darken(@grey, 20%);
        }
        a {
            color: @grey;
            &:hover {
                color: white;
            }
        }
    }
}

.social-icons .fa {
	font-size: 1.8em;
}

.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}

.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 

.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  

.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 

.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
.frequency {
    font-size:1.4rem;
    font-weight:lighter;
}

.sum {
    font-weight:bold;
    font-size:1.4rem;
}

/** Font */
.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
    font-size: 16px;
}

/** Input Tweaks */
.form-control {
  height: 40px;
}

.header-top {
    font-size: 2rem;
    position: relative;
    height: 75px;
    p {
        font-size: 0.8rem;
    }
}

.header-hero-top {
    .header-top;
    top: 4rem;
    
}

.checkbox {
    padding-top: 20px !important;
}

.checkbox--terms {
    font-size: 0.7rem;
}

/* Side bar quick quotes */
.sidebar-header {

    margin-top: 50px;
    background-color: @sun-glow;
    color: #ffffff;
//    height: 38px;
    padding: 6px 0;
    font-size: 18px;
}
.sidebar-header-2nd {
    .sidebar-header;
    color: @sun-glow !important;
    background-color: #ffffff !important;

}
.sidebar-header-total {
    .sidebar-header-2nd;
}

/* Receipt section */
.table-receipt {
    margin : 20px 0;
}

#receipt-docu-download {
    table {
        margin:  20px;
        .receipt-table-col {
            padding-left: 10px;
            span {
                font-size: 0.75rem;
                clear: both;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

.font-half-small {
//        font-size: 0.7rem !important;
        white-space:normal !important;
    }


#rproducts {
    img {
        width: 100%;
        padding: 5px;
        text-align: center;
    }
}

.cwp-header { 
    background-color: @sun-glow;
    height: 77px;
    width: 100%;
    h2 {
        color: #ffffff;
        padding-top: 1.5rem;
    }
    &-title {
        font-weight: bold;
    }
}

.list-group {
    li {
        font-size: 1rem;
        padding: 0 10px;
        span {
            color: @sun-glow;
            padding: 0 10px;
        }
    }
}

/* Confirmation page */
.confirmation-header { 
    background-color: #000000;
    height: 117px;
    width: 100%;
    &-tail{
        background-color: @sun-glow;
        height: 10px;
    }
    h2 {
        color: #ffffff;
        padding-top: 25px;
        font-size: 50px;
    }
    &-title {
        font-weight: bold;
    }
}

.header-summary {
    color: @sun-glow;
}

.blank-10 {
    padding-top: 10px;
}

.blank-20 {
    padding-top: 20px;
}

.form-radio {
    padding: 10px 0;
}

.form-hquestions {
    padding: 5px 0 10px 0 ;
}


.motor-insurance-summary {
    margin-top: 50px;
}


.summary-tile {
    position: relative;
    border-right: 1px solid @sun-glow;
    border-bottom: 13px solid @sun-glow;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 20px;
    height: 135px;
}

.summary-tile:last-child {
    border-right: none;
}

.summary-tile__content {
    position: absolute;
    bottom: 10px;
    font-size: 1.5em;
    width: 100%;
    margin-left:-15px;
}

.motor-insurance-additional-coverage {
    li {
        padding: 5px 0px;
    }
    .label {
        padding: 3px 15px;
        margin: 0px 20px;
    }
    
    input[type=checkbox], input[type=text], select {
        float:right;
    }
    
    input[type=checkbox]:checked ~ span {
        background-color: @sun-glow;
    }
    
    input[type=text], select {
        width: 100px;
        margin-left: 20px;
    }
    select {
        padding: 2px 0px;
    }
}

.content {
    &-breadcrumbs {
        position: relative;
        top: 3.3rem;
    }
}

.content-panel {
    border: 1px solid rgba(119,119,119,0.3);
    border-width: 1px 3px;
    padding: 10px 50px;
    margin-top: 30px;
    
    &__header {
        text-align: center;
        font-size: 2em;
        background-color: #ffffff;
        width: 80%;
        margin: 0 auto;
        margin-top: -30px;
    }
    &__narrow-content {
        width: 70%;
        &--centered {
            margin: 0 auto;
        }
    }
    &__inner-panel {
        background-color: #DBDBDB;
        color: #5B5B5B;
        padding: 1px 20px;
    }
}

//some utilities
.margin-top-50 {
    margin-top: 50px;
}

.checkbox-group {
    input[type=checkbox] {
        margin-right: 20px;
    }
}

.text-warning-muted {
    color: @sun-glow-muted;
}

.clear-left-gutter {
    padding-left: 0px;
}
.clear-right-gutter {
    padding-right: 0px;
}


.progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 1rem;
      position: relative;
      text-align: center;
//      text-transform: uppercase;
      color: #7d7d7d;
  }
  .progressbar li:before {
      width: 35px;
      height: 35px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 4px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 4px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: green;
  }
  .progressbar li.active:before {
      border-color: #55b776;
  }
  .progressbar li.active + li:after {
      background-color: #55b776;
  }
.form-padding-top {
    padding-top: 10rem;
}

.form-buttons {
    margin-bottom: 4rem;
}


.single-container {
    max-width: 646px;
}

.coverage-details {
    h4 {
        margin-top: 5px;
    }
}

.nomination-header {
    margin-bottom: 2rem;
}

.hidden{
    display:none;
}

.name {
    min-width: 300px;
    margin: 0 auto;
    max-width: 450px;
}

//Nomination breadcrumbs edit
.nomination-cb {
    left: 8%;
}

/* Desktop Xs */
@media (min-width: 320px) and (max-width: 633px) {
    .content-header {
        height: 9.55rem;
        font-size: 0.5rem;
    }
    .progressbar li {
        font-size: 0.8rem;
    }
    
    .table-receipt {
            font-size: 0.7rem !important;
    }
}


/* Mobile  */
/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
      
}

/* Portrait */
@media screen 
  and (max-width : 414px)
//  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
      .gender-selector {
          width : 140px; 
          height: 98px;
          position: relative;
          left: 20px;
      }
      /* fix mobile alignment for breadcrumbs */
      .content-breadcrumbs {
          right: 15px;
      }

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}


/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
      
      
      
}
