@charset "UTF-8";
/*
	jAlert version 4.5.1
	Made with love by Versatility Werks (http://flwebsites.biz)
	MIT Licensed
*/

/* Resets */
html, body {
	min-height: 100%;
}

/*
	 WRAPPER
*/
.ja_wrap {
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: fixed;
	z-index: 99999;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.ja_wrap.ja_wrap_white {
	background: rgba(255, 255, 255, .75);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#BFFFFFFF', EndColorStr='#BFFFFFFF')";
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,
		StartColorStr='#BFFFFFFF', EndColorStr='#BFFFFFFF');
	zoom: 1 !important;
}

.ja_wrap.ja_wrap_black {
	background: rgba(0, 0, 0, .75);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#BF000000', EndColorStr='#BF000000')";
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,
		StartColorStr='#BF000000', EndColorStr='#BF000000');
	zoom: 1 !important;
}

body






.ja_blur
>
*






:not



 



(
.ja_wrap



 



)
{
-webkit-filter






:



 



blur






(5
px




)
grayscale






(
.7






);
filter






:



 



blur






(5
px




)
grayscale






(
.7






);
}

/*
	 jAlert
*/
.jAlert {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: left;
	word-wrap: break-word;
	background: white;
	border-radius: 5px;
	max-width: 96%;
	margin: 2% auto;
	margin-top: 100px;
	margin-bottom: 100px;
	display: inline-block;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

/*
	 INSIDE WRAPPER (RELATIVE IN CASE THERE IS POSITION: ABSOLUTE CONTENT WITHIN
*/
.jAlert>div {
	position: relative;
}

.jAlert.ja_setheight>div {
	height: 100%;
}

/*
	 SIZES
*/
.ja_xsm {
	width: 250px;
}

.ja_sm {
	width: 350px;
}

.ja_md {
	width: 550px;
}

.ja_lg {
	width: 850px;
}

.ja_xlg {
	width: 1200px;
}

.ja_full {
	width: 100%;
}

.ja_auto {
	width: auto;
}

/*
    CLOSE BTN
*/
.ja_close {
	position: absolute;
	top: 3px;
	right: 3px;
	border-radius: 5px;
	background: #F3F3F3;
	color: #555;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	font-weight: bold;
	z-index: 99999;
}

.ja_close_round, .ja_close_round_white {
	border-radius: 50%;
	background: #e0e0e0;
	color: #232323;
	padding: 5px 7px;
	right: 10px;
	top: 6px;
	border: 0px;
	line-height: 13px;
	font-size: 18px;
}

.ja_default .ja_close_round, .ja_default .ja_close_round_white {
	color: #FFF;
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
}

.ja_close_alt {
	border-radius: 50%;
	background: #D51C1C;
	color: rgb(255, 255, 255);
	top: -16px;
	right: -18px;
	border: 1px solid rgb(55, 55, 55);
	padding: 3px 8px 1px 7px;
}

.ja_close:hover {
	background: #d4d4d4;
}

.ja_close_alt:hover {
	background: #DF2020;
}

.ja_close_round:hover, .ja_close_round:active {
	color: #FFF;
	background: rgba(0, 0, 0, .5);
}

.ja_close_round_white:hover, .ja_close_round_white:active {
	background: white;
}

/*
	 TITLE
*/
.ja_noTitle .ja_body {
	border-radius: 5px;
}

.ja_noTitle .ja_close_round {
	right: -11px;
	top: -11px;
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
}

.ja_noTitle .ja_close_round:hover {
	background: black;
}

.ja_noTitle .ja_close_round_white {
	background: #e0e0e0;
	color: #232323;
}

.ja_noTitle .ja_close_round_white:hover {
	background: white;
}

.ja_title {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ja_title>div {
	color: #505050;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
}

/*
	 THEMES
*/
.ja_default {
	background: #E0E0E0;
}

.ja_green {
	background: #00B700;
}

.ja_dark_green {
	background: #006D00;
}

.ja_yellow {
	background: #FFFF54;
}

.ja_gray {
	background: #616161;
}

.ja_dark_gray {
	background: #424242;
}

.ja_brown {
	background: #633824;
}

.ja_black {
	background: #232323;
}

.ja_blue {
	background: #008FE4;
}

.ja_dark_blue {
	background: #024986;
}

.ja_red {
	background: #DE0E0E;
}

.ja_dark_red {
	background: #A20000;
}

.ja_default>div {
	color: #505050 !important;
}

.ja_yellow .ja_title>div {
	color: #636300 !important;
}

.ja_green .ja_title>div, .ja_dark_green .ja_title>div, .ja_gray .ja_title>div,
	.ja_brown .ja_title>div, .ja_dark_gray .ja_title>div, .ja_black .ja_title>div,
	.ja_blue .ja_title>div, .ja_dark_blue .ja_title>div, .ja_red .ja_title>div,
	.ja_dark_red .ja_title>div {
	color: white !important;
}

/*
	 CONTENT WRAP
*/
.ja_body {
	background: white;
	color: #616161;
	padding: 20px;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-o-user-select: text;
	user-select: text;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ja_setheight .ja_body {
	height: 100%;
	height: calc(100% - 40px);
}

/*
	 CONTENT
*/
.ja_media_wrap {
	position: relative;
	text-align: center;
}

.ja_iframe {
	width: 100%;
	border: 0px;
	display: none;
	border: 0px;
}

.ja_video {
	width: 100%;
	height: 0px;
	padding-bottom: 65%;
	position: relative;
	display: none;
}

.ja_video iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0px;
}

.ja_img {
	max-width: 100%;
	display: inline-block;
	display: none;
}

/**
    Full Screen
*/
.ja_fullscreen {
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	min-width: 100%;
	min-height: 100%;
	border-radius: 0px;
	margin-top: 0px !important;
}

.ja_fullscreen .ja_title {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.ja_fullscreen .ja_body {
	height: 100%;
}

.ja_fullscreen .ja_close_round {
	right: 5px;
	top: 5px;
}

/*
	 BTNS
*/
.ja_btn_wrap {
	text-align: center;
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: -10px;
}

.ja_btn_wrap.optBack {
	background: #f3f3f3;
	margin-top: 25px;
	margin: 25px -20px -20px -20px;
	padding: 5px 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ja_btn, .ja_btn:link, .ja_btn:visited, .ja_btn:active {
	margin-top: 3px;
	padding: 3px 10px;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
}

@media ( max-width : 450px) {
	.ja_btn {
		width: 90%;
	}
}

.ja_btn:hover {
	text-decoration: none;
}

.ja_btn_default, .ja_btn_default:link, .ja_btn_default:visited {
	color: #575757;
	background: #f3f3f3;
}

.ja_btn_default:hover {
	background: #FBFBFB;
}

.ja_btn_default:active {
	background: #EEE;
}

.ja_btn_green, .ja_btn_green:link, .ja_btn_green:visited {
	background: #00A000;
	color: white;
}

.ja_btn_green:hover {
	background: #2EB71F;
}

.ja_btn_green:active {
	background: #259818;
}

.ja_btn_red, .ja_btn_red:link, .ja_btn_red:visited {
	background: #B90808;
	color: white;
}

.ja_btn_red:hover {
	background: #D62828;
}

.ja_btn_red:active {
	background: #9F2020;
}

.ja_btn_black, .ja_btn_black:link, .ja_btn_black:visited {
	background: #535353;
	color: white;
}

.ja_btn_black:hover {
	background: #666666;
}

.ja_btn_black:active {
	background: #444444;
}

.ja_btn_blue, .ja_btn_blue:link, .ja_btn_blue:visited {
	background: #0877B9;
	color: white;
}

.ja_btn_blue:hover {
	background: #0896E9;
}

.ja_btn_blue:active {
	background: #056FAD;
}

/*
	 LOADER
*/
@
-moz-keyframes ja-loader { 0% {
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-moz-transform








:




 




rotate








(360
deg






);
transform








:




 




rotate








(360
deg






);
}
}
@
-webkit-keyframes ja-loader { 0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform








:




 




rotate








(360
deg






);
transform








:




 




rotate








(360
deg






);
}
}
@
keyframes ja-loader { 0% {
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-moz-transform








:




 




rotate








(360
deg






);
-ms-transform








:




 




rotate








(360
deg






);
-webkit-transform








:




 




rotate








(360
deg






);
transform








:




 




rotate








(360
deg






);
}
}
/* :not(:required) hides this rule from IE9 and below */
.ja_loader






:not



 



(
:required



 



)
{
-moz-animation






:



 



ja-loader



 



1500
ms



 



infinite



 



linear






;
-webkit-animation






:



 



ja-loader



 



1500
ms



 



infinite



 



linear






;
animation






:



 



ja-loader



 



1500
ms



 



infinite



 



linear






;
-moz-border-radius






:



 



0
.5em






;
-webkit-border-radius






:



 



0
.5em






;
border-radius






:



 



0
.5em






;
-moz-box-shadow






:



 



rgba






(0
,
0,
51,
0
.3






)
1
.5em



 



0
0
0,
rgba






(0
,
0,
51,
0
.3






)
1
.1em



 



1
.1em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
0
1
.5em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
-1
.1em



 



1
.1em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
-1
.5em



 



0
0
0,
rgba






(0
,
0,
51,
0
.3






)
-1
.1em



 



-1
.1em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
0
-1
.5em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
1
.1em



 



-1
.1em



 



0
0;
-webkit-box-shadow






:



 



rgba






(0
,
0,
51,
0
.3






)
1
.5em



 



0
0
0,
rgba






(0
,
0,
51,
0
.3






)
1
.1em



 



1
.1em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
0
1
.5em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
-1
.1em



 



1
.1em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
-1
.5em



 



0
0
0,
rgba






(0
,
0,
51,
0
.3






)
-1
.1em



 



-1
.1em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
0
-1
.5em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
1
.1em



 



-1
.1em



 



0
0;
box-shadow






:



 



rgba






(0
,
0,
51,
0
.3






)
1
.5em



 



0
0
0,
rgba






(0
,
0,
51,
0
.3






)
1
.1em




		



1
.1em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
0
1
.5em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
-1
.1em




		



1
.1em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
-1
.5em



 



0
0
0,
rgba






(0
,
0,
51,
0
.3






)
-1
.1em



 



-1
.1em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
0
-1
.5em



 



0
0,
rgba






(0
,
0,
51,
0
.3






)
1
.1em



 



-1
.1em



 



0
0;
display






:



 



inline-block






;
font-size






:



 



10
px






;
width






:



 



1
em






;
height






:



 



1
em






;
margin






:



 



1
.5em






;
overflow






:



 



hidden






;
text-indent






:



 



100%;
}

/*!Animate.css - http://daneden.me/animate Licensed under the MIT license -http://opensource.org/licenses/MIT Copyright (c) 2015 Daniel Eden*/
.animated {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

.animated.hinge {
	-webkit-animation-duration: .5s;
	animation-duration: .5s
}

.animated.bounceIn, .animated.bounceOut {
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}

.animated.flipOutX, .animated.flipOutY {
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}

@
-webkit-keyframes bounce { 0%,20%,53%,80%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

40%,43%{
-webkit-animation-timing-function








:cubic-bezier








(0
.755
,
0
.050
,
0
.855
,
0
.060








);
animation-timing-function








:cubic-bezier








(0
.755
,
0
.050
,
0
.855
,
0
.060








);
-webkit-transform








:translate3d








(0
,
-30
px
,
0);
transform








:translate3d








(0
,
-30
px
,
0)
}
70%{
-webkit-animation-timing-function








:cubic-bezier








(0
.755
,
0
.050
,
0
.855
,
0
.060








);
animation-timing-function








:cubic-bezier








(0
.755
,
0
.050
,
0
.855
,
0
.060








);
-webkit-transform








:translate3d








(0
,
-15
px
,
0);
transform








:translate3d








(0
,
-15
px
,
0)
}
90%{
-webkit-transform








:translate3d








(0
,
-4
px
,
0);
transform








:translate3d








(0
,
-4
px
,
0)
}
}
@
keyframes bounce { 0%,20%,53%,80%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

40%,43%{
-webkit-animation-timing-function








:cubic-bezier








(0
.755
,
0
.050
,
0
.855
,
0
.060








);
animation-timing-function








:cubic-bezier








(0
.755
,
0
.050
,
0
.855
,
0
.060








);
-webkit-transform








:translate3d








(0
,
-30
px
,
0);
transform








:translate3d








(0
,
-30
px
,
0)
}
70%{
-webkit-animation-timing-function








:cubic-bezier








(0
.755
,
0
.050
,
0
.855
,
0
.060








);
animation-timing-function








:cubic-bezier








(0
.755
,
0
.050
,
0
.855
,
0
.060








);
-webkit-transform








:translate3d








(0
,
-15
px
,
0);
transform








:translate3d








(0
,
-15
px
,
0)
}
90%{
-webkit-transform








:translate3d








(0
,
-4
px
,
0);
transform








:translate3d








(0
,
-4
px
,
0)
}
}
.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom
}

@
-webkit-keyframes flash { 0%,50%,100%{
	opacity: 1
}

25%,75%{
opacity








:








0
}
}
@
keyframes flash { 0%,50%,100%{
	opacity: 1
}

25%,75%{
opacity








:








0
}
}
.flash {
	-webkit-animation-name: flash;
	animation-name: flash
}

@
-webkit-keyframes pulse { 0%{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1)
}

50%{
-webkit-transform








:scale3d








(1
.05
,
1
.05
,
1
.05








);
transform








:scale3d








(1
.05
,
1
.05
,
1
.05








)
}
100%{
-webkit-transform








:scale3d








(1
,
1,1);
transform








:scale3d








(1
,
1,1)
}
}
@
keyframes pulse { 0%{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1)
}

50%{
-webkit-transform








:scale3d








(1
.05
,
1
.05
,
1
.05








);
transform








:scale3d








(1
.05
,
1
.05
,
1
.05








)
}
100%{
-webkit-transform








:scale3d








(1
,
1,1);
transform








:scale3d








(1
,
1,1)
}
}
.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse
}

@
-webkit-keyframes rubberBand { 0%{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1)
}

30%{
-webkit-transform








:scale3d








(1
.25
,
0
.75
,
1);
transform








:scale3d








(1
.25
,
0
.75
,
1)
}
40%{
-webkit-transform








:scale3d








(0
.75
,
1
.25
,
1);
transform








:scale3d








(0
.75
,
1
.25
,
1)
}
50%{
-webkit-transform








:scale3d








(1
.15
,
0
.85
,
1);
transform








:scale3d








(1
.15
,
0
.85
,
1)
}
65%{
-webkit-transform








:scale3d








(
.95
,
1
.05
,
1);
transform








:scale3d








(
.95
,
1
.05
,
1)
}
75%{
-webkit-transform








:scale3d








(1
.05
,
.95
,
1);
transform








:scale3d








(1
.05
,
.95
,
1)
}
100%{
-webkit-transform








:scale3d








(1
,
1,1);
transform








:scale3d








(1
,
1,1)
}
}
@
keyframes rubberBand { 0%{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1)
}

30%{
-webkit-transform








:scale3d








(1
.25
,
0
.75
,
1);
transform








:scale3d








(1
.25
,
0
.75
,
1)
}
40%{
-webkit-transform








:scale3d








(0
.75
,
1
.25
,
1);
transform








:scale3d








(0
.75
,
1
.25
,
1)
}
50%{
-webkit-transform








:scale3d








(1
.15
,
0
.85
,
1);
transform








:scale3d








(1
.15
,
0
.85
,
1)
}
65%{
-webkit-transform








:scale3d








(
.95
,
1
.05
,
1);
transform








:scale3d








(
.95
,
1
.05
,
1)
}
75%{
-webkit-transform








:scale3d








(1
.05
,
.95
,
1);
transform








:scale3d








(1
.05
,
.95
,
1)
}
100%{
-webkit-transform








:scale3d








(1
,
1,1);
transform








:scale3d








(1
,
1,1)
}
}
.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}

@
-webkit-keyframes shake { 0%,100%{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

10%,30%,50%,70%,90%{
-webkit-transform








:translate3d








(-10
px
,
0,0);
transform








:translate3d








(-10
px
,
0,0)
}
20%,40%,60%,80%{
-webkit-transform








:translate3d








(10
px
,
0,0);
transform








:translate3d








(10
px
,
0,0)
}
}
@
keyframes shake { 0%,100%{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

10%,30%,50%,70%,90%{
-webkit-transform








:translate3d








(-10
px
,
0,0);
transform








:translate3d








(-10
px
,
0,0)
}
20%,40%,60%,80%{
-webkit-transform








:translate3d








(10
px
,
0,0);
transform








:translate3d








(10
px
,
0,0)
}
}
.shake {
	-webkit-animation-name: shake;
	animation-name: shake
}

@
-webkit-keyframes swing { 20%{
	-webkit-transform: rotate3d(0, 0, 1, 15deg);
	transform: rotate3d(0, 0, 1, 15deg)
}

40%{
-webkit-transform








:rotate3d








(0
,
0,1,-10
deg








);
transform








:rotate3d








(0
,
0,1,-10
deg








)
}
60%{
-webkit-transform








:rotate3d








(0
,
0,1,5
deg








);
transform








:rotate3d








(0
,
0,1,5
deg








)
}
80%{
-webkit-transform








:rotate3d








(0
,
0,1,-5
deg








);
transform








:rotate3d








(0
,
0,1,-5
deg








)
}
100%{
-webkit-transform








:rotate3d








(0
,
0,1,0
deg








);
transform








:rotate3d








(0
,
0,1,0
deg








)
}
}
@
keyframes swing { 20%{
	-webkit-transform: rotate3d(0, 0, 1, 15deg);
	transform: rotate3d(0, 0, 1, 15deg)
}

40%{
-webkit-transform








:rotate3d








(0
,
0,1,-10
deg








);
transform








:rotate3d








(0
,
0,1,-10
deg








)
}
60%{
-webkit-transform








:rotate3d








(0
,
0,1,5
deg








);
transform








:rotate3d








(0
,
0,1,5
deg








)
}
80%{
-webkit-transform








:rotate3d








(0
,
0,1,-5
deg








);
transform








:rotate3d








(0
,
0,1,-5
deg








)
}
100%{
-webkit-transform








:rotate3d








(0
,
0,1,0
deg








);
transform








:rotate3d








(0
,
0,1,0
deg








)
}
}
.swing {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing
}

@
-webkit-keyframes tada { 0%{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1)
}

10%,20%{
-webkit-transform








:scale3d








(
.9
,
.9
,
.9








)
rotate3d








(0
,
0,1,-3
deg








);
transform








:scale3d








(
.9
,
.9
,
.9








)
rotate3d








(0
,
0,1,-3
deg








)
}
30%,50%,70%,90%{
-webkit-transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
rotate3d








(0
,
0,1,3
deg








);
transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
rotate3d








(0
,
0,1,3
deg








)
}
40%,60%,80%{
-webkit-transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
rotate3d








(0
,
0,1,-3
deg








);
transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
rotate3d








(0
,
0,1,-3
deg








)
}
100%{
-webkit-transform








:scale3d








(1
,
1,1);
transform








:scale3d








(1
,
1,1)
}
}
@
keyframes tada { 0%{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1)
}

10%,20%{
-webkit-transform








:scale3d








(
.9
,
.9
,
.9








)
rotate3d








(0
,
0,1,-3
deg








);
transform








:scale3d








(
.9
,
.9
,
.9








)
rotate3d








(0
,
0,1,-3
deg








)
}
30%,50%,70%,90%{
-webkit-transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
rotate3d








(0
,
0,1,3
deg








);
transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
rotate3d








(0
,
0,1,3
deg








)
}
40%,60%,80%{
-webkit-transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
rotate3d








(0
,
0,1,-3
deg








);
transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
rotate3d








(0
,
0,1,-3
deg








)
}
100%{
-webkit-transform








:scale3d








(1
,
1,1);
transform








:scale3d








(1
,
1,1)
}
}
.tada {
	-webkit-animation-name: tada;
	animation-name: tada
}

@
-webkit-keyframes wobble { 0%{
	-webkit-transform: none;
	transform: none
}

15%{
-webkit-transform








:translate3d








(-25%
,
0,0)
rotate3d








(0
,
0,1,-5
deg








);
transform








:translate3d








(-25%
,
0,0)
rotate3d








(0
,
0,1,-5
deg








)
}
30%{
-webkit-transform








:translate3d








(20%
,
0,0)
rotate3d








(0
,
0,1,3
deg








);
transform








:translate3d








(20%
,
0,0)
rotate3d








(0
,
0,1,3
deg








)
}
45%{
-webkit-transform








:translate3d








(-15%
,
0,0)
rotate3d








(0
,
0,1,-3
deg








);
transform








:translate3d








(-15%
,
0,0)
rotate3d








(0
,
0,1,-3
deg








)
}
60%{
-webkit-transform








:translate3d








(10%
,
0,0)
rotate3d








(0
,
0,1,2
deg








);
transform








:translate3d








(10%
,
0,0)
rotate3d








(0
,
0,1,2
deg








)
}
75%{
-webkit-transform








:translate3d








(-5%
,
0,0)
rotate3d








(0
,
0,1,-1
deg








);
transform








:translate3d








(-5%
,
0,0)
rotate3d








(0
,
0,1,-1
deg








)
}
100%{
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes wobble { 0%{
	-webkit-transform: none;
	transform: none
}

15%{
-webkit-transform








:translate3d








(-25%
,
0,0)
rotate3d








(0
,
0,1,-5
deg








);
transform








:translate3d








(-25%
,
0,0)
rotate3d








(0
,
0,1,-5
deg








)
}
30%{
-webkit-transform








:translate3d








(20%
,
0,0)
rotate3d








(0
,
0,1,3
deg








);
transform








:translate3d








(20%
,
0,0)
rotate3d








(0
,
0,1,3
deg








)
}
45%{
-webkit-transform








:translate3d








(-15%
,
0,0)
rotate3d








(0
,
0,1,-3
deg








);
transform








:translate3d








(-15%
,
0,0)
rotate3d








(0
,
0,1,-3
deg








)
}
60%{
-webkit-transform








:translate3d








(10%
,
0,0)
rotate3d








(0
,
0,1,2
deg








);
transform








:translate3d








(10%
,
0,0)
rotate3d








(0
,
0,1,2
deg








)
}
75%{
-webkit-transform








:translate3d








(-5%
,
0,0)
rotate3d








(0
,
0,1,-1
deg








);
transform








:translate3d








(-5%
,
0,0)
rotate3d








(0
,
0,1,-1
deg








)
}
100%{
-webkit-transform








:none








;
transform








:none








}
}
.wobble {
	-webkit-animation-name: wobble;
	animation-name: wobble
}

@
-webkit-keyframes jello { 11.1%{
	-webkit-transform: none;
	transform: none
}

22
.2



 



%{
-webkit-transform






:



 



skewX






(-12
.5deg






)
skewY






(-12
.5deg






);
transform






:



 



skewX






(-12
.5deg






)
skewY






(-12
.5deg






)
}
33
.3



 



%{
-webkit-transform






:



 



skewX






(6
.25deg






)
skewY






(6
.25deg






);
transform






:



 



skewX






(6
.25deg






)
skewY






(6
.25deg






)
}
44
.4



 



%{
-webkit-transform






:



 



skewX






(-3
.125deg






)
skewY






(-3
.125deg






);
transform






:



 



skewX






(-3
.125deg






)
skewY






(-3
.125deg






)
}
55
.5



 



%{
-webkit-transform






:



 



skewX






(1
.5625deg






)
skewY






(1
.5625deg






);
transform






:



 



skewX






(1
.5625deg






)
skewY






(1
.5625deg






)
}
66
.6



 



%{
-webkit-transform






:



 



skewX






(-0
.78125deg






)
skewY






(-0
.78125deg






);
transform






:



 



skewX






(-0
.78125deg






)
skewY






(-0
.78125deg






)
}
77
.7



 



%{
-webkit-transform






:



 



skewX






(0
.390625deg






)
skewY






(0
.390625deg






);
transform






:



 



skewX






(0
.390625deg






)
skewY






(0
.390625deg






)
}
88
.8



 



%{
-webkit-transform






:



 



skewX






(-0
.1953125deg






)
skewY






(-0
.1953125deg






);
transform






:



 



skewX






(-0
.1953125deg






)
skewY






(-0
.1953125deg






)
}
100%{
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes jello { 11.1%{
	-webkit-transform: none;
	transform: none
}

22
.2



 



%{
-webkit-transform






:



 



skewX






(-12
.5deg






)
skewY






(-12
.5deg






);
transform






:



 



skewX






(-12
.5deg






)
skewY






(-12
.5deg






)
}
33
.3



 



%{
-webkit-transform






:



 



skewX






(6
.25deg






)
skewY






(6
.25deg






);
transform






:



 



skewX






(6
.25deg






)
skewY






(6
.25deg






)
}
44
.4



 



%{
-webkit-transform






:



 



skewX






(-3
.125deg






)
skewY






(-3
.125deg






);
transform






:



 



skewX






(-3
.125deg






)
skewY






(-3
.125deg






)
}
55
.5



 



%{
-webkit-transform






:



 



skewX






(1
.5625deg






)
skewY






(1
.5625deg






);
transform






:



 



skewX






(1
.5625deg






)
skewY






(1
.5625deg






)
}
66
.6



 



%{
-webkit-transform






:



 



skewX






(-0
.78125deg






)
skewY






(-0
.78125deg






);
transform






:



 



skewX






(-0
.78125deg






)
skewY






(-0
.78125deg






)
}
77
.7



 



%{
-webkit-transform






:



 



skewX






(0
.390625deg






)
skewY






(0
.390625deg






);
transform






:



 



skewX






(0
.390625deg






)
skewY






(0
.390625deg






)
}
88
.8



 



%{
-webkit-transform






:



 



skewX






(-0
.1953125deg






)
skewY






(-0
.1953125deg






);
transform






:



 



skewX






(-0
.1953125deg






)
skewY






(-0
.1953125deg






)
}
100%{
-webkit-transform








:none








;
transform








:none








}
}
.jello {
	-webkit-animation-name: jello;
	animation-name: jello;
	-webkit-transform-origin: center;
	transform-origin: center
}

@
-webkit-keyframes bounceIn { 0%,20%,40%,60%,80%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
}

0%{
opacity








:








0;
-webkit-transform








:scale3d








(
.3
,
.3
,
.3








);
transform








:scale3d








(
.3
,
.3
,
.3








)
}
20%{
-webkit-transform








:scale3d








(1
.1
,
1
.1
,
1
.1








);
transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
}
40%{
-webkit-transform








:scale3d








(
.9
,
.9
,
.9








);
transform








:scale3d








(
.9
,
.9
,
.9








)
}
60%{
opacity








:








1;
-webkit-transform








:scale3d








(1
.03
,
1
.03
,
1
.03








);
transform








:scale3d








(1
.03
,
1
.03
,
1
.03








)
}
80%{
-webkit-transform








:scale3d








(
.97
,
.97
,
.97








);
transform








:scale3d








(
.97
,
.97
,
.97








)
}
100%{
opacity








:








1;
-webkit-transform








:scale3d








(1
,
1,1);
transform








:scale3d








(1
,
1,1)
}
}
@
keyframes bounceIn { 0%,20%,40%,60%,80%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
}

0%{
opacity








:








0;
-webkit-transform








:scale3d








(
.3
,
.3
,
.3








);
transform








:scale3d








(
.3
,
.3
,
.3








)
}
20%{
-webkit-transform








:scale3d








(1
.1
,
1
.1
,
1
.1








);
transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
}
40%{
-webkit-transform








:scale3d








(
.9
,
.9
,
.9








);
transform








:scale3d








(
.9
,
.9
,
.9








)
}
60%{
opacity








:








1;
-webkit-transform








:scale3d








(1
.03
,
1
.03
,
1
.03








);
transform








:scale3d








(1
.03
,
1
.03
,
1
.03








)
}
80%{
-webkit-transform








:scale3d








(
.97
,
.97
,
.97








);
transform








:scale3d








(
.97
,
.97
,
.97








)
}
100%{
opacity








:








1;
-webkit-transform








:scale3d








(1
,
1,1);
transform








:scale3d








(1
,
1,1)
}
}
.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn
}

@
-webkit-keyframes bounceInDown { 0%,60%,75%,90%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
}

0%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
-3000
px
,
0);
transform








:translate3d








(0
,
-3000
px
,
0)
}
60%{
opacity








:








1;
-webkit-transform








:translate3d








(0
,
25
px
,
0);
transform








:translate3d








(0
,
25
px
,
0)
}
75%{
-webkit-transform








:translate3d








(0
,
-10
px
,
0);
transform








:translate3d








(0
,
-10
px
,
0)
}
90%{
-webkit-transform








:translate3d








(0
,
5
px
,
0);
transform








:translate3d








(0
,
5
px
,
0)
}
100%{
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes bounceInDown { 0%,60%,75%,90%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
}

0%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
-3000
px
,
0);
transform








:translate3d








(0
,
-3000
px
,
0)
}
60%{
opacity








:








1;
-webkit-transform








:translate3d








(0
,
25
px
,
0);
transform








:translate3d








(0
,
25
px
,
0)
}
75%{
-webkit-transform








:translate3d








(0
,
-10
px
,
0);
transform








:translate3d








(0
,
-10
px
,
0)
}
90%{
-webkit-transform








:translate3d








(0
,
5
px
,
0);
transform








:translate3d








(0
,
5
px
,
0)
}
100%{
-webkit-transform








:none








;
transform








:none








}
}
.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown
}

@
-webkit-keyframes bounceInLeft { 0%,60%,75%,90%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
}

0%{
opacity








:








0;
-webkit-transform








:translate3d








(-3000
px
,
0,0);
transform








:translate3d








(-3000
px
,
0,0)
}
60%{
opacity








:








1;
-webkit-transform








:translate3d








(25
px
,
0,0);
transform








:translate3d








(25
px
,
0,0)
}
75%{
-webkit-transform








:translate3d








(-10
px
,
0,0);
transform








:translate3d








(-10
px
,
0,0)
}
90%{
-webkit-transform








:translate3d








(5
px
,
0,0);
transform








:translate3d








(5
px
,
0,0)
}
100%{
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes bounceInLeft { 0%,60%,75%,90%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
}

0%{
opacity








:








0;
-webkit-transform








:translate3d








(-3000
px
,
0,0);
transform








:translate3d








(-3000
px
,
0,0)
}
60%{
opacity








:








1;
-webkit-transform








:translate3d








(25
px
,
0,0);
transform








:translate3d








(25
px
,
0,0)
}
75%{
-webkit-transform








:translate3d








(-10
px
,
0,0);
transform








:translate3d








(-10
px
,
0,0)
}
90%{
-webkit-transform








:translate3d








(5
px
,
0,0);
transform








:translate3d








(5
px
,
0,0)
}
100%{
-webkit-transform








:none








;
transform








:none








}
}
.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft
}

@
-webkit-keyframes bounceInRight { 0%,60%,75%,90%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
}

0%{
opacity








:








0;
-webkit-transform








:translate3d








(3000
px
,
0,0);
transform








:translate3d








(3000
px
,
0,0)
}
60%{
opacity








:








1;
-webkit-transform








:translate3d








(-25
px
,
0,0);
transform








:translate3d








(-25
px
,
0,0)
}
75%{
-webkit-transform








:translate3d








(10
px
,
0,0);
transform








:translate3d








(10
px
,
0,0)
}
90%{
-webkit-transform








:translate3d








(-5
px
,
0,0);
transform








:translate3d








(-5
px
,
0,0)
}
100%{
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes bounceInRight { 0%,60%,75%,90%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
}

0%{
opacity








:








0;
-webkit-transform








:translate3d








(3000
px
,
0,0);
transform








:translate3d








(3000
px
,
0,0)
}
60%{
opacity








:








1;
-webkit-transform








:translate3d








(-25
px
,
0,0);
transform








:translate3d








(-25
px
,
0,0)
}
75%{
-webkit-transform








:translate3d








(10
px
,
0,0);
transform








:translate3d








(10
px
,
0,0)
}
90%{
-webkit-transform








:translate3d








(-5
px
,
0,0);
transform








:translate3d








(-5
px
,
0,0)
}
100%{
-webkit-transform








:none








;
transform








:none








}
}
.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight
}

@
-webkit-keyframes bounceInUp { 0%,60%,75%,90%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
}

0%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
3000
px
,
0);
transform








:translate3d








(0
,
3000
px
,
0)
}
60%{
opacity








:








1;
-webkit-transform








:translate3d








(0
,
-20
px
,
0);
transform








:translate3d








(0
,
-20
px
,
0)
}
75%{
-webkit-transform








:translate3d








(0
,
10
px
,
0);
transform








:translate3d








(0
,
10
px
,
0)
}
90%{
-webkit-transform








:translate3d








(0
,
-5
px
,
0);
transform








:translate3d








(0
,
-5
px
,
0)
}
100%{
-webkit-transform








:translate3d








(0
,
0,0);
transform








:translate3d








(0
,
0,0)
}
}
@
keyframes bounceInUp { 0%,60%,75%,90%,100%{
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
}

0%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
3000
px
,
0);
transform








:translate3d








(0
,
3000
px
,
0)
}
60%{
opacity








:








1;
-webkit-transform








:translate3d








(0
,
-20
px
,
0);
transform








:translate3d








(0
,
-20
px
,
0)
}
75%{
-webkit-transform








:translate3d








(0
,
10
px
,
0);
transform








:translate3d








(0
,
10
px
,
0)
}
90%{
-webkit-transform








:translate3d








(0
,
-5
px
,
0);
transform








:translate3d








(0
,
-5
px
,
0)
}
100%{
-webkit-transform








:translate3d








(0
,
0,0);
transform








:translate3d








(0
,
0,0)
}
}
.bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp
}

@
-webkit-keyframes bounceOut { 20%{
	-webkit-transform: scale3d(.9, .9, .9);
	transform: scale3d(.9, .9, .9)
}

50%,55%{
opacity








:








1;
-webkit-transform








:scale3d








(1
.1
,
1
.1
,
1
.1








);
transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
}
100%{
opacity








:








0;
-webkit-transform








:scale3d








(
.3
,
.3
,
.3








);
transform








:scale3d








(
.3
,
.3
,
.3








)
}
}
@
keyframes bounceOut { 20%{
	-webkit-transform: scale3d(.9, .9, .9);
	transform: scale3d(.9, .9, .9)
}

50%,55%{
opacity








:








1;
-webkit-transform








:scale3d








(1
.1
,
1
.1
,
1
.1








);
transform








:scale3d








(1
.1
,
1
.1
,
1
.1








)
}
100%{
opacity








:








0;
-webkit-transform








:scale3d








(
.3
,
.3
,
.3








);
transform








:scale3d








(
.3
,
.3
,
.3








)
}
}
.bounceOut {
	-webkit-animation-name: bounceOut;
	animation-name: bounceOut
}

@
-webkit-keyframes bounceOutDown { 20%{
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0)
}

40%,45%{
opacity








:








1;
-webkit-transform








:translate3d








(0
,
-20
px
,
0);
transform








:translate3d








(0
,
-20
px
,
0)
}
100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
2000
px
,
0);
transform








:translate3d








(0
,
2000
px
,
0)
}
}
@
keyframes bounceOutDown { 20%{
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0)
}

40%,45%{
opacity








:








1;
-webkit-transform








:translate3d








(0
,
-20
px
,
0);
transform








:translate3d








(0
,
-20
px
,
0)
}
100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
2000
px
,
0);
transform








:translate3d








(0
,
2000
px
,
0)
}
}
.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown
}

@
-webkit-keyframes bounceOutLeft { 20%{
	opacity: 1;
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0)
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(-2000
px
,
0,0);
transform








:translate3d








(-2000
px
,
0,0)
}
}
@
keyframes bounceOutLeft { 20%{
	opacity: 1;
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0)
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(-2000
px
,
0,0);
transform








:translate3d








(-2000
px
,
0,0)
}
}
.bounceOutLeft {
	-webkit-animation-name: bounceOutLeft;
	animation-name: bounceOutLeft
}

@
-webkit-keyframes bounceOutRight { 20%{
	opacity: 1;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0)
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(2000
px
,
0,0);
transform








:translate3d








(2000
px
,
0,0)
}
}
@
keyframes bounceOutRight { 20%{
	opacity: 1;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0)
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(2000
px
,
0,0);
transform








:translate3d








(2000
px
,
0,0)
}
}
.bounceOutRight {
	-webkit-animation-name: bounceOutRight;
	animation-name: bounceOutRight
}

@
-webkit-keyframes bounceOutUp { 20%{
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0)
}

40%,45%{
opacity








:








1;
-webkit-transform








:translate3d








(0
,
20
px
,
0);
transform








:translate3d








(0
,
20
px
,
0)
}
100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
-2000
px
,
0);
transform








:translate3d








(0
,
-2000
px
,
0)
}
}
@
keyframes bounceOutUp { 20%{
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0)
}

40%,45%{
opacity








:








1;
-webkit-transform








:translate3d








(0
,
20
px
,
0);
transform








:translate3d








(0
,
20
px
,
0)
}
100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
-2000
px
,
0);
transform








:translate3d








(0
,
-2000
px
,
0)
}
}
.bounceOutUp {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp
}

@
-webkit-keyframes fadeIn { 0%{
	opacity: 0
}

100%{
opacity








:








1
}
}
@
keyframes fadeIn { 0%{
	opacity: 0
}

100%{
opacity








:








1
}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

@
-webkit-keyframes fadeInDown { 0%{
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes fadeInDown { 0%{
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

@
-webkit-keyframes fadeInDownBig { 0%{
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes fadeInDownBig { 0%{
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig
}

@
-webkit-keyframes fadeInLeft { 0%{
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes fadeInLeft { 0%{
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}

@
-webkit-keyframes fadeInLeftBig { 0%{
	opacity: 0;
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes fadeInLeftBig { 0%{
	opacity: 0;
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig
}

@
-webkit-keyframes fadeInRight { 0%{
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes fadeInRight { 0%{
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight
}

@
-webkit-keyframes fadeInRightBig { 0%{
	opacity: 0;
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes fadeInRightBig { 0%{
	opacity: 0;
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig
}

@
-webkit-keyframes fadeInUp { 0%{
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes fadeInUp { 0%{
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}

@
-webkit-keyframes fadeInUpBig { 0%{
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes fadeInUpBig { 0%{
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig
}

@
-webkit-keyframes fadeOut { 0%{
	opacity: 1
}

100%{
opacity








:








0
}
}
@
keyframes fadeOut { 0%{
	opacity: 1
}

100%{
opacity








:








0
}
}
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut
}

@
-webkit-keyframes fadeOutDown { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
100%,0);
transform








:translate3d








(0
,
100%,0)
}
}
@
keyframes fadeOutDown { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
100%,0);
transform








:translate3d








(0
,
100%,0)
}
}
.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown
}

@
-webkit-keyframes fadeOutDownBig { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
2000
px
,
0);
transform








:translate3d








(0
,
2000
px
,
0)
}
}
@
keyframes fadeOutDownBig { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
2000
px
,
0);
transform








:translate3d








(0
,
2000
px
,
0)
}
}
.fadeOutDownBig {
	-webkit-animation-name: fadeOutDownBig;
	animation-name: fadeOutDownBig
}

@
-webkit-keyframes fadeOutLeft { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(-100%
,
0,0);
transform








:translate3d








(-100%
,
0,0)
}
}
@
keyframes fadeOutLeft { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(-100%
,
0,0);
transform








:translate3d








(-100%
,
0,0)
}
}
.fadeOutLeft {
	-webkit-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft
}

@
-webkit-keyframes fadeOutLeftBig { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(-2000
px
,
0,0);
transform








:translate3d








(-2000
px
,
0,0)
}
}
@
keyframes fadeOutLeftBig { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(-2000
px
,
0,0);
transform








:translate3d








(-2000
px
,
0,0)
}
}
.fadeOutLeftBig {
	-webkit-animation-name: fadeOutLeftBig;
	animation-name: fadeOutLeftBig
}

@
-webkit-keyframes fadeOutRight { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(100%
,
0,0);
transform








:translate3d








(100%
,
0,0)
}
}
@
keyframes fadeOutRight { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(100%
,
0,0);
transform








:translate3d








(100%
,
0,0)
}
}
.fadeOutRight {
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight
}

@
-webkit-keyframes fadeOutRightBig { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(2000
px
,
0,0);
transform








:translate3d








(2000
px
,
0,0)
}
}
@
keyframes fadeOutRightBig { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(2000
px
,
0,0);
transform








:translate3d








(2000
px
,
0,0)
}
}
.fadeOutRightBig {
	-webkit-animation-name: fadeOutRightBig;
	animation-name: fadeOutRightBig
}

@
-webkit-keyframes fadeOutUp { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
-100%,0);
transform








:translate3d








(0
,
-100%,0)
}
}
@
keyframes fadeOutUp { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
-100%,0);
transform








:translate3d








(0
,
-100%,0)
}
}
.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp
}

@
-webkit-keyframes fadeOutUpBig { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
-2000
px
,
0);
transform








:translate3d








(0
,
-2000
px
,
0)
}
}
@
keyframes fadeOutUpBig { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(0
,
-2000
px
,
0);
transform








:translate3d








(0
,
-2000
px
,
0)
}
}
.fadeOutUpBig {
	-webkit-animation-name: fadeOutUpBig;
	animation-name: fadeOutUpBig
}

@
-webkit-keyframes flip { 0%{
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
	transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}

40%{
-webkit-transform








:perspective(400px)




 




translate3d








(0
,
0,150
px








)
rotate3d








(0
,
1,0,-190
deg








);
transform








:perspective(400px)




 




translate3d








(0
,
0,150
px








)
rotate3d








(0
,
1,0,-190
deg








);
-webkit-animation-timing-function








:ease-out








;
animation-timing-function








:ease-out








}
50%{
-webkit-transform








:perspective(400px)




 




translate3d








(0
,
0,150
px








)
rotate3d








(0
,
1,0,-170
deg








);
transform








:perspective(400px)




 




translate3d








(0
,
0,150
px








)
rotate3d








(0
,
1,0,-170
deg








);
-webkit-animation-timing-function








:ease-in








;
animation-timing-function








:ease-in








}
80%{
-webkit-transform








:perspective(400px)




 




scale3d








(
.95
,
.95
,
.95








);
transform








:perspective(400px)




 




scale3d








(
.95
,
.95
,
.95








);
-webkit-animation-timing-function








:ease-in








;
animation-timing-function








:ease-in








}
100%{
-webkit-transform








:perspective(400px)








;
transform








:perspective(400px)








;
-webkit-animation-timing-function








:ease-in








;
animation-timing-function








:ease-in








}
}
@
keyframes flip { 0%{
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
	transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}

40%{
-webkit-transform








:perspective(400px)




 




translate3d








(0
,
0,150
px








)
rotate3d








(0
,
1,0,-190
deg








);
transform








:perspective(400px)




 




translate3d








(0
,
0,150
px








)
rotate3d








(0
,
1,0,-190
deg








);
-webkit-animation-timing-function








:ease-out








;
animation-timing-function








:ease-out








}
50%{
-webkit-transform








:perspective(400px)




 




translate3d








(0
,
0,150
px








)
rotate3d








(0
,
1,0,-170
deg








);
transform








:perspective(400px)




 




translate3d








(0
,
0,150
px








)
rotate3d








(0
,
1,0,-170
deg








);
-webkit-animation-timing-function








:ease-in








;
animation-timing-function








:ease-in








}
80%{
-webkit-transform








:perspective(400px)




 




scale3d








(
.95
,
.95
,
.95








);
transform








:perspective(400px)




 




scale3d








(
.95
,
.95
,
.95








);
-webkit-animation-timing-function








:ease-in








;
animation-timing-function








:ease-in








}
100%{
-webkit-transform








:perspective(400px)








;
transform








:perspective(400px)








;
-webkit-animation-timing-function








:ease-in








;
animation-timing-function








:ease-in








}
}
.animated.flip {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip
}

@
-webkit-keyframes flipInX { 0%{
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 0
}

40%{
-webkit-transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-20
deg








);
transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-20
deg








);
-webkit-animation-timing-function








:ease-in








;
animation-timing-function








:ease-in








}
60%{
-webkit-transform








:perspective(400px)




 




rotate3d








(1
,
0,0,10
deg








);
transform








:perspective(400px)




 




rotate3d








(1
,
0,0,10
deg








);
opacity








:








1
}
80%{
-webkit-transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-5
deg








);
transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-5
deg








)
}
100%{
-webkit-transform








:perspective(400px)








;
transform








:perspective(400px)








}
}
@
keyframes flipInX { 0%{
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 0
}

40%{
-webkit-transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-20
deg








);
transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-20
deg








);
-webkit-animation-timing-function








:ease-in








;
animation-timing-function








:ease-in








}
60%{
-webkit-transform








:perspective(400px)




 




rotate3d








(1
,
0,0,10
deg








);
transform








:perspective(400px)




 




rotate3d








(1
,
0,0,10
deg








);
opacity








:








1
}
80%{
-webkit-transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-5
deg








);
transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-5
deg








)
}
100%{
-webkit-transform








:perspective(400px)








;
transform








:perspective(400px)








}
}
.flipInX {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX
}

@
-webkit-keyframes flipInY { 0%{
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 0
}

40%{
-webkit-transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-20
deg








);
transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-20
deg








);
-webkit-animation-timing-function








:ease-in








;
animation-timing-function








:ease-in








}
60%{
-webkit-transform








:perspective(400px)




 




rotate3d








(0
,
1,0,10
deg








);
transform








:perspective(400px)




 




rotate3d








(0
,
1,0,10
deg








);
opacity








:








1
}
80%{
-webkit-transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-5
deg








);
transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-5
deg








)
}
100%{
-webkit-transform








:perspective(400px)








;
transform








:perspective(400px)








}
}
@
keyframes flipInY { 0%{
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 0
}

40%{
-webkit-transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-20
deg








);
transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-20
deg








);
-webkit-animation-timing-function








:ease-in








;
animation-timing-function








:ease-in








}
60%{
-webkit-transform








:perspective(400px)




 




rotate3d








(0
,
1,0,10
deg








);
transform








:perspective(400px)




 




rotate3d








(0
,
1,0,10
deg








);
opacity








:








1
}
80%{
-webkit-transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-5
deg








);
transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-5
deg








)
}
100%{
-webkit-transform








:perspective(400px)








;
transform








:perspective(400px)








}
}
.flipInY {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	animation-name: flipInY
}

@
-webkit-keyframes flipOutX { 0%{
	-webkit-transform: perspective(400px);
	transform: perspective(400px)
}

30%{
-webkit-transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-20
deg








);
transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-20
deg








);
opacity








:








1
}
100%{
-webkit-transform








:perspective(400px)




 




rotate3d








(1
,
0,0,90
deg








);
transform








:perspective(400px)




 




rotate3d








(1
,
0,0,90
deg








);
opacity








:








0
}
}
@
keyframes flipOutX { 0%{
	-webkit-transform: perspective(400px);
	transform: perspective(400px)
}

30%{
-webkit-transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-20
deg








);
transform








:perspective(400px)




 




rotate3d








(1
,
0,0,-20
deg








);
opacity








:








1
}
100%{
-webkit-transform








:perspective(400px)




 




rotate3d








(1
,
0,0,90
deg








);
transform








:perspective(400px)




 




rotate3d








(1
,
0,0,90
deg








);
opacity








:








0
}
}
.flipOutX {
	-webkit-animation-name: flipOutX;
	animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important
}

@
-webkit-keyframes flipOutY { 0%{
	-webkit-transform: perspective(400px);
	transform: perspective(400px)
}

30%{
-webkit-transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-15
deg








);
transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-15
deg








);
opacity








:








1
}
100%{
-webkit-transform








:perspective(400px)




 




rotate3d








(0
,
1,0,90
deg








);
transform








:perspective(400px)




 




rotate3d








(0
,
1,0,90
deg








);
opacity








:








0
}
}
@
keyframes flipOutY { 0%{
	-webkit-transform: perspective(400px);
	transform: perspective(400px)
}

30%{
-webkit-transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-15
deg








);
transform








:perspective(400px)




 




rotate3d








(0
,
1,0,-15
deg








);
opacity








:








1
}
100%{
-webkit-transform








:perspective(400px)




 




rotate3d








(0
,
1,0,90
deg








);
transform








:perspective(400px)




 




rotate3d








(0
,
1,0,90
deg








);
opacity








:








0
}
}
.flipOutY {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	animation-name: flipOutY
}

@
-webkit-keyframes lightSpeedIn { 0%{
	-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
	transform: translate3d(100%, 0, 0) skewX(-30deg);
	opacity: 0
}

60%{
-webkit-transform








:skewX(20deg)








;
transform








:skewX(20deg)








;
opacity








:








1
}
80%{
-webkit-transform








:skewX(-5deg)








;
transform








:skewX(-5deg)








;
opacity








:








1
}
100%{
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
@
keyframes lightSpeedIn { 0%{
	-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
	transform: translate3d(100%, 0, 0) skewX(-30deg);
	opacity: 0
}

60%{
-webkit-transform








:skewX(20deg)








;
transform








:skewX(20deg)








;
opacity








:








1
}
80%{
-webkit-transform








:skewX(-5deg)








;
transform








:skewX(-5deg)








;
opacity








:








1
}
100%{
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}

@
-webkit-keyframes lightSpeedOut { 0%{
	opacity: 1
}

100%{
-webkit-transform








:translate3d








(100%
,
0,0)
skewX








(30
deg






);
transform








:translate3d








(100%
,
0,0)
skewX








(30
deg






);
opacity








:








0
}
}
@
keyframes lightSpeedOut { 0%{
	opacity: 1
}

100%{
-webkit-transform








:translate3d








(100%
,
0,0)
skewX








(30
deg






);
transform








:translate3d








(100%
,
0,0)
skewX








(30
deg






);
opacity








:








0
}
}
.lightSpeedOut {
	-webkit-animation-name: lightSpeedOut;
	animation-name: lightSpeedOut;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in
}

@
-webkit-keyframes rotateIn { 0%{
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, -200deg);
	transform: rotate3d(0, 0, 1, -200deg);
	opacity: 0
}

100%{
-webkit-transform-origin








:center








;
transform-origin








:center








;
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
@
keyframes rotateIn { 0%{
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, -200deg);
	transform: rotate3d(0, 0, 1, -200deg);
	opacity: 0
}

100%{
-webkit-transform-origin








:center








;
transform-origin








:center








;
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
.rotateIn {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn
}

@
-webkit-keyframes rotateInDownLeft { 0%{
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
	opacity: 0
}

100%{
-webkit-transform-origin








:left




 




bottom








;
transform-origin








:left




 




bottom








;
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
@
keyframes rotateInDownLeft { 0%{
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
	opacity: 0
}

100%{
-webkit-transform-origin








:left




 




bottom








;
transform-origin








:left




 




bottom








;
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
.rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft
}

@
-webkit-keyframes rotateInDownRight { 0%{
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0
}

100%{
-webkit-transform-origin








:right




 




bottom








;
transform-origin








:right




 




bottom








;
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
@
keyframes rotateInDownRight { 0%{
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0
}

100%{
-webkit-transform-origin








:right




 




bottom








;
transform-origin








:right




 




bottom








;
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
.rotateInDownRight {
	-webkit-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight
}

@
-webkit-keyframes rotateInUpLeft { 0%{
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0
}

100%{
-webkit-transform-origin








:left




 




bottom








;
transform-origin








:left




 




bottom








;
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
@
keyframes rotateInUpLeft { 0%{
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0
}

100%{
-webkit-transform-origin








:left




 




bottom








;
transform-origin








:left




 




bottom








;
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
.rotateInUpLeft {
	-webkit-animation-name: rotateInUpLeft;
	animation-name: rotateInUpLeft
}

@
-webkit-keyframes rotateInUpRight { 0%{
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, -90deg);
	transform: rotate3d(0, 0, 1, -90deg);
	opacity: 0
}

100%{
-webkit-transform-origin








:right




 




bottom








;
transform-origin








:right




 




bottom








;
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
@
keyframes rotateInUpRight { 0%{
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, -90deg);
	transform: rotate3d(0, 0, 1, -90deg);
	opacity: 0
}

100%{
-webkit-transform-origin








:right




 




bottom








;
transform-origin








:right




 




bottom








;
-webkit-transform








:none








;
transform








:none








;
opacity








:








1
}
}
.rotateInUpRight {
	-webkit-animation-name: rotateInUpRight;
	animation-name: rotateInUpRight
}

@
-webkit-keyframes rotateOut { 0%{
	-webkit-transform-origin: center;
	transform-origin: center;
	opacity: 1
}

100%{
-webkit-transform-origin








:center








;
transform-origin








:center








;
-webkit-transform








:rotate3d








(0
,
0,1,200
deg








);
transform








:rotate3d








(0
,
0,1,200
deg








);
opacity








:








0
}
}
@
keyframes rotateOut { 0%{
	-webkit-transform-origin: center;
	transform-origin: center;
	opacity: 1
}

100%{
-webkit-transform-origin








:center








;
transform-origin








:center








;
-webkit-transform








:rotate3d








(0
,
0,1,200
deg








);
transform








:rotate3d








(0
,
0,1,200
deg








);
opacity








:








0
}
}
.rotateOut {
	-webkit-animation-name: rotateOut;
	animation-name: rotateOut
}

@
-webkit-keyframes rotateOutDownLeft { 0%{
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	opacity: 1
}

100%{
-webkit-transform-origin








:left




 




bottom








;
transform-origin








:left




 




bottom








;
-webkit-transform








:rotate3d








(0
,
0,1,45
deg








);
transform








:rotate3d








(0
,
0,1,45
deg








);
opacity








:








0
}
}
@
keyframes rotateOutDownLeft { 0%{
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	opacity: 1
}

100%{
-webkit-transform-origin








:left




 




bottom








;
transform-origin








:left




 




bottom








;
-webkit-transform








:rotate3d








(0
,
0,1,45
deg








);
transform








:rotate3d








(0
,
0,1,45
deg








);
opacity








:








0
}
}
.rotateOutDownLeft {
	-webkit-animation-name: rotateOutDownLeft;
	animation-name: rotateOutDownLeft
}

@
-webkit-keyframes rotateOutDownRight { 0%{
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	opacity: 1
}

100%{
-webkit-transform-origin








:right




 




bottom








;
transform-origin








:right




 




bottom








;
-webkit-transform








:rotate3d








(0
,
0,1,-45
deg








);
transform








:rotate3d








(0
,
0,1,-45
deg








);
opacity








:








0
}
}
@
keyframes rotateOutDownRight { 0%{
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	opacity: 1
}

100%{
-webkit-transform-origin








:right




 




bottom








;
transform-origin








:right




 




bottom








;
-webkit-transform








:rotate3d








(0
,
0,1,-45
deg








);
transform








:rotate3d








(0
,
0,1,-45
deg








);
opacity








:








0
}
}
.rotateOutDownRight {
	-webkit-animation-name: rotateOutDownRight;
	animation-name: rotateOutDownRight
}

@
-webkit-keyframes rotateOutUpLeft { 0%{
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	opacity: 1
}

100%{
-webkit-transform-origin








:left




 




bottom








;
transform-origin








:left




 




bottom








;
-webkit-transform








:rotate3d








(0
,
0,1,-45
deg








);
transform








:rotate3d








(0
,
0,1,-45
deg








);
opacity








:








0
}
}
@
keyframes rotateOutUpLeft { 0%{
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	opacity: 1
}

100%{
-webkit-transform-origin








:left




 




bottom








;
transform-origin








:left




 




bottom








;
-webkit-transform








:rotate3d








(0
,
0,1,-45
deg








);
transform








:rotate3d








(0
,
0,1,-45
deg








);
opacity








:








0
}
}
.rotateOutUpLeft {
	-webkit-animation-name: rotateOutUpLeft;
	animation-name: rotateOutUpLeft
}

@
-webkit-keyframes rotateOutUpRight { 0%{
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	opacity: 1
}

100%{
-webkit-transform-origin








:right




 




bottom








;
transform-origin








:right




 




bottom








;
-webkit-transform








:rotate3d








(0
,
0,1,90
deg








);
transform








:rotate3d








(0
,
0,1,90
deg








);
opacity








:








0
}
}
@
keyframes rotateOutUpRight { 0%{
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	opacity: 1
}

100%{
-webkit-transform-origin








:right




 




bottom








;
transform-origin








:right




 




bottom








;
-webkit-transform








:rotate3d








(0
,
0,1,90
deg








);
transform








:rotate3d








(0
,
0,1,90
deg








);
opacity








:








0
}
}
.rotateOutUpRight {
	-webkit-animation-name: rotateOutUpRight;
	animation-name: rotateOutUpRight
}

@
-webkit-keyframes hinge { 0%{
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

20%,60%{
-webkit-transform








:rotate3d








(0
,
0,1,80
deg








);
transform








:rotate3d








(0
,
0,1,80
deg








);
-webkit-transform-origin








:top




 




left








;
transform-origin








:top




 




left








;
-webkit-animation-timing-function








:ease-in-out








;
animation-timing-function








:ease-in-out








}
40%,80%{
-webkit-transform








:rotate3d








(0
,
0,1,60
deg








);
transform








:rotate3d








(0
,
0,1,60
deg








);
-webkit-transform-origin








:top




 




left








;
transform-origin








:top




 




left








;
-webkit-animation-timing-function








:ease-in-out








;
animation-timing-function








:ease-in-out








;
opacity








:








1
}
100%{
-webkit-transform








:translate3d








(0
,
700
px
,
0);
transform








:translate3d








(0
,
700
px
,
0);
opacity








:








0
}
}
@
keyframes hinge { 0%{
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

20%,60%{
-webkit-transform








:rotate3d








(0
,
0,1,80
deg








);
transform








:rotate3d








(0
,
0,1,80
deg








);
-webkit-transform-origin








:top




 




left








;
transform-origin








:top




 




left








;
-webkit-animation-timing-function








:ease-in-out








;
animation-timing-function








:ease-in-out








}
40%,80%{
-webkit-transform








:rotate3d








(0
,
0,1,60
deg








);
transform








:rotate3d








(0
,
0,1,60
deg








);
-webkit-transform-origin








:top




 




left








;
transform-origin








:top




 




left








;
-webkit-animation-timing-function








:ease-in-out








;
animation-timing-function








:ease-in-out








;
opacity








:








1
}
100%{
-webkit-transform








:translate3d








(0
,
700
px
,
0);
transform








:translate3d








(0
,
700
px
,
0);
opacity








:








0
}
}
.hinge {
	-webkit-animation-name: hinge;
	animation-name: hinge
}

@
-webkit-keyframes rollIn { 0%{
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
@
keyframes rollIn { 0%{
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
}

100%{
opacity








:








1;
-webkit-transform








:none








;
transform








:none








}
}
.rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn
}

@
-webkit-keyframes rollOut { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(100%
,
0,0)
rotate3d








(0
,
0,1,120
deg








);
transform








:translate3d








(100%
,
0,0)
rotate3d








(0
,
0,1,120
deg








)
}
}
@
keyframes rollOut { 0%{
	opacity: 1
}

100%{
opacity








:








0;
-webkit-transform








:translate3d








(100%
,
0,0)
rotate3d








(0
,
0,1,120
deg








);
transform








:translate3d








(100%
,
0,0)
rotate3d








(0
,
0,1,120
deg








)
}
}
.rollOut {
	-webkit-animation-name: rollOut;
	animation-name: rollOut
}

@
-webkit-keyframes zoomIn { 0%{
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3)
}

50%{
opacity








:








1
}
}
@
keyframes zoomIn { 0%{
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3)
}

50%{
opacity








:








1
}
}
.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn
}

@
-webkit-keyframes zoomInDown { 0%{
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

60%{
opacity








:








1;
-webkit-transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(0
,
60
px
,
0);
transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(0
,
60
px
,
0);
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
@
keyframes zoomInDown { 0%{
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

60%{
opacity








:








1;
-webkit-transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(0
,
60
px
,
0);
transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(0
,
60
px
,
0);
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
.zoomInDown {
	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown
}

@
-webkit-keyframes zoomInLeft { 0%{
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
	transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

60%{
opacity








:








1;
-webkit-transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(10
px
,
0,0);
transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(10
px
,
0,0);
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
@
keyframes zoomInLeft { 0%{
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
	transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

60%{
opacity








:








1;
-webkit-transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(10
px
,
0,0);
transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(10
px
,
0,0);
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
.zoomInLeft {
	-webkit-animation-name: zoomInLeft;
	animation-name: zoomInLeft
}

@
-webkit-keyframes zoomInRight { 0%{
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
	transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

60%{
opacity








:








1;
-webkit-transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(-10
px
,
0,0);
transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(-10
px
,
0,0);
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
@
keyframes zoomInRight { 0%{
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
	transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

60%{
opacity








:








1;
-webkit-transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(-10
px
,
0,0);
transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(-10
px
,
0,0);
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
.zoomInRight {
	-webkit-animation-name: zoomInRight;
	animation-name: zoomInRight
}

@
-webkit-keyframes zoomInUp { 0%{
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

60%{
opacity








:








1;
-webkit-transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(0
,
-60
px
,
0);
transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(0
,
-60
px
,
0);
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
@
keyframes zoomInUp { 0%{
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

60%{
opacity








:








1;
-webkit-transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(0
,
-60
px
,
0);
transform








:scale3d








(
.475
,
.475
,
.475








)
translate3d








(0
,
-60
px
,
0);
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
.zoomInUp {
	-webkit-animation-name: zoomInUp;
	animation-name: zoomInUp
}

@
-webkit-keyframes zoomOut { 0%{
	opacity: 1
}

50%{
opacity








:








0;
-webkit-transform








:scale3d








(
.3
,
.3
,
.3








);
transform








:scale3d








(
.3
,
.3
,
.3








)
}
100%{
opacity








:








0
}
}
@
keyframes zoomOut { 0%{
	opacity: 1
}

50%{
opacity








:








0;
-webkit-transform








:scale3d








(
.3
,
.3
,
.3








);
transform








:scale3d








(
.3
,
.3
,
.3








)
}
100%{
opacity








:








0
}
}
.zoomOut {
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut
}

@
-webkit-keyframes zoomOutDown { 40%{
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

100%{
opacity








:








0;
-webkit-transform








:scale3d








(
.1
,
.1
,
.1








)
translate3d








(0
,
2000
px
,
0);
transform








:scale3d








(
.1
,
.1
,
.1








)
translate3d








(0
,
2000
px
,
0);
-webkit-transform-origin








:center




 




bottom








;
transform-origin








:center




 




bottom








;
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
@
keyframes zoomOutDown { 40%{
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

100%{
opacity








:








0;
-webkit-transform








:scale3d








(
.1
,
.1
,
.1








)
translate3d








(0
,
2000
px
,
0);
transform








:scale3d








(
.1
,
.1
,
.1








)
translate3d








(0
,
2000
px
,
0);
-webkit-transform-origin








:center




 




bottom








;
transform-origin








:center




 




bottom








;
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
.zoomOutDown {
	-webkit-animation-name: zoomOutDown;
	animation-name: zoomOutDown
}

@
-webkit-keyframes zoomOutLeft { 40%{
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
	transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0)
}

100%{
opacity








:








0;
-webkit-transform








:scale








(
.1








)
translate3d








(-2000
px
,
0,0);
transform








:scale








(
.1








)
translate3d








(-2000
px
,
0,0);
-webkit-transform-origin








:left




 




center








;
transform-origin








:left




 




center








}
}
@
keyframes zoomOutLeft { 40%{
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
	transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0)
}

100%{
opacity








:








0;
-webkit-transform








:scale








(
.1








)
translate3d








(-2000
px
,
0,0);
transform








:scale








(
.1








)
translate3d








(-2000
px
,
0,0);
-webkit-transform-origin








:left




 




center








;
transform-origin








:left




 




center








}
}
.zoomOutLeft {
	-webkit-animation-name: zoomOutLeft;
	animation-name: zoomOutLeft
}

@
-webkit-keyframes zoomOutRight { 40%{
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
	transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0)
}

100%{
opacity








:








0;
-webkit-transform








:scale








(
.1








)
translate3d








(2000
px
,
0,0);
transform








:scale








(
.1








)
translate3d








(2000
px
,
0,0);
-webkit-transform-origin








:right




 




center








;
transform-origin








:right




 




center








}
}
@
keyframes zoomOutRight { 40%{
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
	transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0)
}

100%{
opacity








:








0;
-webkit-transform








:scale








(
.1








)
translate3d








(2000
px
,
0,0);
transform








:scale








(
.1








)
translate3d








(2000
px
,
0,0);
-webkit-transform-origin








:right




 




center








;
transform-origin








:right




 




center








}
}
.zoomOutRight {
	-webkit-animation-name: zoomOutRight;
	animation-name: zoomOutRight
}

@
-webkit-keyframes zoomOutUp { 40%{
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

100%{
opacity








:








0;
-webkit-transform








:scale3d








(
.1
,
.1
,
.1








)
translate3d








(0
,
-2000
px
,
0);
transform








:scale3d








(
.1
,
.1
,
.1








)
translate3d








(0
,
-2000
px
,
0);
-webkit-transform-origin








:center




 




bottom








;
transform-origin








:center




 




bottom








;
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
@
keyframes zoomOutUp { 40%{
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)
}

100%{
opacity








:








0;
-webkit-transform








:scale3d








(
.1
,
.1
,
.1








)
translate3d








(0
,
-2000
px
,
0);
transform








:scale3d








(
.1
,
.1
,
.1








)
translate3d








(0
,
-2000
px
,
0);
-webkit-transform-origin








:center




 




bottom








;
transform-origin








:center




 




bottom








;
-webkit-animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1);
animation-timing-function








:cubic-bezier








(0
.175
,
0
.885
,
0
.320
,
1)
}
}
.zoomOutUp {
	-webkit-animation-name: zoomOutUp;
	animation-name: zoomOutUp
}

@
-webkit-keyframes slideInDown { 0%{
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	visibility: visible
}

100%{
-webkit-transform








:translate3d








(0
,
0,0);
transform








:translate3d








(0
,
0,0)
}
}
@
keyframes slideInDown { 0%{
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	visibility: visible
}

100%{
-webkit-transform








:translate3d








(0
,
0,0);
transform








:translate3d








(0
,
0,0)
}
}
.slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown
}

@
-webkit-keyframes slideInLeft { 0%{
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	visibility: visible
}

100%{
-webkit-transform








:translate3d








(0
,
0,0);
transform








:translate3d








(0
,
0,0)
}
}
@
keyframes slideInLeft { 0%{
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	visibility: visible
}

100%{
-webkit-transform








:translate3d








(0
,
0,0);
transform








:translate3d








(0
,
0,0)
}
}
.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft
}

@
-webkit-keyframes slideInRight { 0%{
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	visibility: visible
}

100%{
-webkit-transform








:translate3d








(0
,
0,0);
transform








:translate3d








(0
,
0,0)
}
}
@
keyframes slideInRight { 0%{
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	visibility: visible
}

100%{
-webkit-transform








:translate3d








(0
,
0,0);
transform








:translate3d








(0
,
0,0)
}
}
.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight
}

@
-webkit-keyframes slideInUp { 0%{
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	visibility: visible
}

100%{
-webkit-transform








:translate3d








(0
,
0,0);
transform








:translate3d








(0
,
0,0)
}
}
@
keyframes slideInUp { 0%{
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	visibility: visible
}

100%{
-webkit-transform








:translate3d








(0
,
0,0);
transform








:translate3d








(0
,
0,0)
}
}
.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp
}

@
-webkit-keyframes slideOutDown { 0%{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

100%{
visibility








:hidden








;
-webkit-transform








:translate3d








(0
,
100%,0);
transform








:translate3d








(0
,
100%,0)
}
}
@
keyframes slideOutDown { 0%{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

100%{
visibility








:hidden








;
-webkit-transform








:translate3d








(0
,
100%,0);
transform








:translate3d








(0
,
100%,0)
}
}
.slideOutDown {
	-webkit-animation-name: slideOutDown;
	animation-name: slideOutDown
}

@
-webkit-keyframes slideOutLeft { 0%{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

100%{
visibility








:hidden








;
-webkit-transform








:translate3d








(-100%
,
0,0);
transform








:translate3d








(-100%
,
0,0)
}
}
@
keyframes slideOutLeft { 0%{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

100%{
visibility








:hidden








;
-webkit-transform








:translate3d








(-100%
,
0,0);
transform








:translate3d








(-100%
,
0,0)
}
}
.slideOutLeft {
	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft
}

@
-webkit-keyframes slideOutRight { 0%{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

100%{
visibility








:hidden








;
-webkit-transform








:translate3d








(100%
,
0,0);
transform








:translate3d








(100%
,
0,0)
}
}
@
keyframes slideOutRight { 0%{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

100%{
visibility








:hidden








;
-webkit-transform








:translate3d








(100%
,
0,0);
transform








:translate3d








(100%
,
0,0)
}
}
.slideOutRight {
	-webkit-animation-name: slideOutRight;
	animation-name: slideOutRight
}

@
-webkit-keyframes slideOutUp { 0%{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

100%{
visibility








:hidden








;
-webkit-transform








:translate3d








(0
,
-100%,0);
transform








:translate3d








(0
,
-100%,0)
}
}
@
keyframes slideOutUp { 0%{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

100%{
visibility








:hidden








;
-webkit-transform








:translate3d








(0
,
-100%,0);
transform








:translate3d








(0
,
-100%,0)
}
}
.slideOutUp {
	-webkit-animation-name: slideOutUp;
	animation-name: slideOutUp
}

/*
    No padding option
*/
.ja_no_pad .ja_body {
	padding: 0px;
}

.ja_no_pad .ja_loader {
	margin: 40px 0px;
}