/*----------#region All CSS----------*/
.control-label {
	padding-top: 9px !important;
}

input {
	padding-left: 5px;
}

input[type='text'] {
	width: 190px;
}

select {
	width: 190px;
	padding: 3px;
}

.paddingTopCheckBox {
	margin-top: 9px !important;
}
/*----------#endRegion All CSS----------*/

/*----------#region Form CSS----------*/
.dotSpace {
	padding-right: 15px;
}

.spacePadding {
	padding-left: 15px;
}

.leftPadding {
	padding-left: 5px;
}

.minusPaddingTop {
	padding-top: 2px !important;
}

.minusPaddingCheckBox {
	padding-top: 5px !important;
}

.rateTableDiv {
	padding-left: 30px;
}

.rateTable td {
	padding: 10px 5px;
	min-width: 60px;
	min-height: 44px;
}

.rateTable tr {
	min-height: 44px;
}

.Space {
	margin: 0 14px;
}

.twiceSpace {
	margin: 0 30px;
}
/*----------#endRegion Form CSS----------*/

/*----------#region Modal Dialog CSS----------*/
.modal-dialog-Title {
	border-left: 5px solid #ffbf00;
	padding-left: 15px;
}

.readOnlyText {
	background-color: #ededed;
}

.modal-dialog .col-sm-3 {
	padding-top: 8px;
}

input#adultRate, input#childRate, input#updAdultRate, input#updChildRate
	{
	width: 55px;
	padding: 0.5px 0;
}

#tlPDSTable th {
	text-align: center;
	text-decoration: underline;
	background: #798087;
	color: white;
	border: 1px solid #ddd;
	min-width: 100px;
}

#tlPDSTable th.firstChild {
	width: 5px !important;
	min-width: 0;
}

#tlPDSTable td {
	border: 1px solid #ddd;
	min-width: 100px;
}

#tlPDSTable td.firstChild {
	width: 5px !important;
	min-width: 0;
}

#listTable thead {
	text-decoration: underline;
	background: #798087;
	color: white;
	border: 1px solid #ddd;
	min-width: 60px;
}

#listTable td {
	border: 1px solid #ddd;
	min-width: 60px;
}
/*----------#region Modal Dialog CSS----------*/

/*----------#region Error Message CSS----------*/
.errorMsgDisplayF {
	display: none;
}

.errorMsgDisplayT {
	display: block;
}

.errorMsg {
	font-size: 11px;
	font-weight: bold;
	color: red !important;
	background: #ffc73d 50% 50% repeat-x;
	border: 1px solid #ff8d00;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.errorMsg span {
	color: #333 !important;
	padding: 0 5px;
}

.successMsg {
	font-size: 11px;
	font-weight: bold;
	color: #5978be !important;
	background: #9ecaff 50% 50% repeat-x;
	border: 1px solid #8080ff;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.successMsg span {
	color: #333 !important;
	padding: 0 5px;
}
/*----------#endRegion Error Message CSS----------*/
/*------- Dashboard panel---------*/
.panel-purple {
	border-color: #885ead;
	color: #ffff;
	background-color: #885ead;
}

.panel-blue {
	border-color: #6699ff;
	color: #fff;
	background-color: #6699ff;
}

.panel-pink {
	border-color: #ff748c;
	color: #fff;
	background-color: #ff748c;
}

.margin0 {
	margin: 0;
}

/*-------end Dashboard panel---------*/
@media ( max-width : 900px) {
	.dotSpace {
		display: none;
	}
	.rateTableDiv {
		padding-left: 0;
	}
	.modalRateTableDiv {
		padding-left: 15px;
	}
}

@media ( min-width : 768px) {
	.col-sm-11 {
		width: 100% !important;
	}
}