.wrapper {
	overflow-x: hidden;
}
/**
-------------------------------------------
SIDEBAR
-------------------------------------------
**/
ul.sidebar-menu li.static.left-profile-summary {
	min-height: 20px;
	height: auto;
	padding: 29px 15px 0px 15px;
}

ul.sidebar-menu li.text-content.profile-summary {
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.left-profile-summary h4 {
	color: #fff;
	padding: 0;
	margin: 0 0 5px;
	line-height: 120%;
}

.left-profile-summary .avatar {
	width: 70px;
	height: 70px;
	margin: 0 10px 20px 0;
}

.sidebar-left {
	background: #313940;
	color: #AAB2BD;
	z-index: 10;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.sidebar-static {
	position: relative;
	left: 0;
	bottom: 0;
	width: 250px;
	background: #313940;
	color: #AAB2BD;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.sidebar-right.full-top, .sidebar-left.full-top {
	top: 0px;
}

.sidebar-right {
	bottom: 0;
	width: 250px;
	background: #313940;
	color: #AAB2BD;
	z-index: 1;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.sidebar-right-heading {
	position: fixed;
	top: 0;
	right: 0px;
	height: 60px;
	background-color: #2C3439;
	width: 250px;
	z-index: 6;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.sidebar-right-heading.hidden-to-top {
	top: -60px;
}

.sidebar-right-heading .nav-tabs {
	border-bottom: none;
}

.sidebar-right-heading .nav-tabs>li {
	margin-bottom: 0px;
}

.sidebar-right-heading .nav-tabs>li>a {
	margin-right: 0px;
	border: none;
	height: 60px;
	padding: 20px 0;
	color: #656D78;
}

.sidebar-right-heading .nav-tabs.nav-justified>li {
	display: table-cell;
	width: 1%;
}

.sidebar-right-heading .nav-tabs.nav-justified>li>a {
	margin-bottom: 0;
}

.sidebar-right-heading .nav-tabs>li>a:hover {
	background-color: transparent;
	color: #E6E9ED;
}

.sidebar-right-heading .nav-tabs>li.active>a, .sidebar-right-heading .nav-tabs>li.active>a:hover,
	.sidebar-right-heading .nav-tabs>li.active>a:focus {
	color: #E6E9ED;
	cursor: default;
	border: none;
	background-color: #242C2E;
}

.sidebar-left.toggle-left {
	left: -250px;
}

.sidebar-right.toggle-left {
	right: 0;
}

.sidebar-left.toggle {
	left: -250px;
}

.page-content.toggle {
	margin-left: 0px;
}

.footer.toggle {
	margin-left: 0px;
}

.header.toggle {
	margin-left: 0px;
}

.header-second.toggle {
	margin-left: 0px;
}

.top-navbar.toggle-left {
	left: -250px;
	right: 250px;
}

.page-content.toggle-left {
	margin-left: 0px;
	margin-right: 250px;
}

.page-content.no-left-sidebar {
	margin-left: 0px;
}

.page-content {
	padding: 0;
	/*	margin-left: 250px;*/
	margin-top: 0;
	z-index: 2;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.footer {
	padding: 0;
	margin-left: 250px;
	margin-top: 0;
	z-index: 2;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.header {
	padding: 0;
	margin-left: 250px;
	margin-top: 0;
	z-index: 2;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.header-second {
	padding: 0;
	margin-left: 250px;
	margin-top: 0;
	z-index: 2;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.btn-collapse-sidebar-left {
	position: absolute;
	left: 0;
	width: 50px;
	height: 60px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	padding: 10px 0;
}

.btn-collapse-main-navigation {
	position: absolute;
	left: 0;
	width: 50px;
	height: 60px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	padding: 17px 0;
	display: none;
}

.btn-collapse-sidebar-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 60px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	padding: 17px 0;
	color: #656D78;
	color: rgba(1, 1, 1, 0.6)
}

.btn-collapse-nav {
	position: absolute;
	right: 0;
	width: 50px;
	height: 60px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	padding: 17px 0;
	display: none;
}

.icon-dinamic {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: All 0.4s ease;
	-moz-transition: All 0.4s ease;
	-o-transition: All 0.4s ease;
}

.icon-dinamic.rotate-180 {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

ul.sidebar-menu {
	padding: 0;
	margin: 0 0 0px 0;
	list-style: none;
	background-color: #666c72;
}

ul.sidebar-menu li.static {
	display: block;
	color: #797E89;
	height: 60px;
	padding: 29px 15px 15px 15px;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	font-size: 13px;
}

ul.sidebar-menu li.text-content {
	display: block;
	color: #AAB2BD;
	height: 40px;
	padding: 12px 60px 12px 15px;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	font-size: 13px;
}

ul.sidebar-menu li.text-content .switch {
	position: absolute;
	right: 15px;
	top: 10px;
}

ul.sidebar-menu li {
	display: block;
	color: #AAB2BD;
	border-bottom: 1px solid #798087;
	padding-left: 30px;
}

ul.sidebar-menu li ul.submenu li {
	display: block;
	color: #AAB2BD;
	border-bottom: 0px;
	padding-left: 10px;
}

ul.sidebar-menu li ul.submenu li ul.subsecond li {
	display: block;
	color: #AAB2BD;
	border-bottom: 0px;
	padding-left: 10px;
}

ul.sidebar-menu li a {
	display: block;
	/*	color: #AAB2BD;*/
	color: #ffffff;
	height: 45px;
	padding: 12px 20px 12px 50px;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*
ul.sidebar-menu.admin li a{
    padding: 12px 20px 12px 5px;
}
*/
ul.sidebar-menu li.inactive a {
	display: block;
	color: #AAB2BD;
	height: 45px;
	padding: 12px 20px 12px 50px;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}

ul








.sidebar-menu




 




li








.inactive




 




a








:hover




 




;
ul








.sidebar-menu




 




li








.inactive




 




a








:focus




 




;
ul








.sidebar-menu




 




li








.inactive




 




a








:active




 




;{
background-color








:




 




#666c72








;
border-bottom








:




 




1
px




 




solid




 




#798087








;
}
ul.sidebar-menu li.inactive.selected, ul.sidebar-menu li.inactive.selected:hover,
	ul.sidebar-menu li.inactive.selected:focus, ul.sidebar-menu li.inactive.active,
	ul.sidebar-menu li.inactive.active:hover, ul.sidebar-menu li.inactive.active:focus
	{
	background-color: #666c72;
	border-bottom: 1px solid #798087;
}

ul.sidebar-menu li a .icon-sidebar {
	width: 34px;
	height: 34px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
}

ul.sidebar-menu li a .span-sidebar {
	position: absolute;
	right: 30px;
	top: 13px;
}

ul.sidebar-menu li a .chevron-icon-sidebar, ul.sidebar-menu li ul li a .chevron-icon-sidebar2,
	ul.sidebar-menu li ul li ul li a .chevron-icon-sidebar3 {
	position: absolute;
	right: 15px;
	top: 14px;
	color: #ffffff;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

ul.sidebar-menu li.active a .chevron-icon-sidebar, ul.sidebar-menu li.active ul li.active a .chevron-icon-sidebar2,
	ul.sidebar-menu li.active ul li.active ul li.active a .chevron-icon-sidebar3
	{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

ul.sidebar-menu li:hover, ul.sidebar-menu li:focus {
	color: #E6E9ED;
	border-bottom: 1px solid #2C3439;
}

ul.sidebar-menu li.inactive:hover, ul.sidebar-menu li.inactive:focus {
	color: #E6E9ED;
	border-bottom: 1px solid #798087;
}

ul.sidebar-menu li.selected, ul.sidebar-menu li.selected:hover, ul.sidebar-menu li.selected:focus,
	ul.sidebar-menu li.active, ul.sidebar-menu li.active:hover, ul.sidebar-menu li.active:focus
	{
	color: #E6E9ED;
	background-color: #343537;
	border-bottom: 1px solid #2C3439;
}

/*
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus{
	color: #E6E9ED;
	border-bottom: 1px solid #2C3439;
}
ul.sidebar-menu li.selected a,
ul.sidebar-menu li.selected a:hover,
ul.sidebar-menu li.selected a:focus,
ul.sidebar-menu li.active a,
ul.sidebar-menu li.active a:hover,
ul.sidebar-menu li.active a:focus{
	color: #E6E9ED;
	background-color: #2C3439;
	border-bottom: 1px solid #2C3439;
}
*/
.sidebar-menu .icon {
	background-image: url("../images/icon-menu.png");
	height: 80px;
	width: 80px;
	margin-top: 6px;
	background-size: 82px;
}

.sidebar-menu.admin .icon {
	background-image: url("../images/icon-menu-admin.png");
	height: 34px;
	width: 34px;
	margin-top: 6px;
	background-size: 82px;
}

.sidebar-menu .icon.dashboard {
	background-position: -2px -2px;
}

.sidebar-menu .icon.profile {
	background-position: -2px -40px;
}

.sidebar-menu .icon.policy {
	background-position: -2px -77px;
}

.sidebar-menu .icon.claim {
	background-position: -2px -116px;
}

.sidebar-menu .icon.services {
	background-position: -2px -153px;
}

.sidebar-menu .icon.online {
	background-position: -2px -190px;
}

.sidebar-menu .icon.statement {
	background-position: -2px -228px;
}

.sidebar-menu .icon.report {
	background-position: -2px -2px;
}

.sidebar-menu .icon.update {
	background-position: -2px -40px;
}

.sidebar-menu .icon.notifi-manag {
	background-position: -2px -77px;
}

.sidebar-menu .icon.security {
	background-position: -2px -116px;
}

/* side menu lv1 */
ul.sidebar-menu li ul.submenu {
	/*	background: #2C3439;*/
	padding: 0 0 0 0px;
	margin: 0;
	list-style: none;
	display: none;
}

ul.sidebar-menu li ul.submenu.visible {
	display: block;
}

ul.sidebar-menu li ul.submenu li {
	display: block;
}

ul.sidebar-menu li ul.submenu li a {
	display: block;
	color: #79818B;
	height: 35px;
	padding: 10px 15px 10px 0;
	border-bottom: none;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	font-size: 11px;
	border-left: 1px solid #656D78;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #343537;
}

ul.sidebar-menu li ul.submenu li a .span-sidebar {
	position: absolute;
	right: 15px;
	top: 10px;
}

ul.sidebar-menu li ul.submenu li a:hover, ul.sidebar-menu li ul.submenu li a:focus
	{
	color: #E6E9ED;
	background-color: #343537;
}

ul.sidebar-menu li ul.submenu li.selected a, ul.sidebar-menu li ul.submenu li.selected a:hover,
	ul.sidebar-menu li ul.submenu li.selected a:focus, ul.sidebar-menu li ul.submenu li.active a,
	ul.sidebar-menu li ul.submenu li.active a:hover, ul.sidebar-menu li ul.submenu li.active a:focus
	{
	color: #E6E9ED;
	background-color: #2C3439;
}

ul.sidebar-menu li ul.submenu li a:before {
	content: "\2014\00a0";
	margin-left: -1px;
	color: #79818B;
}

ul.sidebar-menu li ul.submenu li ul.submenu li a, ul.sidebar-menu li ul.submenu li ul.submenu li ul.submenu li a
	{
	display: block;
	color: #79818B;
	height: 35px;
	padding: 10px 15px 10px 0;
	border-bottom: none;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	font-size: 11px;
	border-left: 1px solid #656D78;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #343537;
}

ul.sidebar-menu li ul.submenu ul.submenu li.selected a, ul.sidebar-menu li ul.submenu ul.submenu li.selected a:hover,
	ul.sidebar-menu li ul.submenu ul.submenu li.selected a:focus, ul.sidebar-menu li ul.submenu ul.submenu li.active a,
	ul.sidebar-menu li ul.submenu ul.submenu li.active a:hover, ul.sidebar-menu li ul.submenu ul.submenu li.active a:focus,
	ul.sidebar-menu li ul.submenu ul.submenu ul.submenu li.active a, ul.sidebar-menu li ul.submenu ul.submenu ul.submenu li.active a:hover,
	ul.sidebar-menu li ul.submenu ul.submenu ul.submenu li.active a:focus,
	ul.sidebar-menu li ul.submenu ul.submenu ul.submenu li.selected a, ul.sidebar-menu li ul.submenu ul.submenu ul.submenu li.selected a:hover,
	ul.sidebar-menu li ul.submenu ul.submenu ul.submenu li.selected a:focus,
	ul.sidebar-menu li ul.submenu li ul.submenu li ul.submenu li a:hover {
	color: #E6E9ED;
	background-color: #2C3439;
}

.has-sub ul {
	display: none
}

/* side menu lv2 */
ul.sidebar-menu li ul.submenu li ul.subsecond {
	/*	background: #2C3439;*/
	padding: 0 0 0 0px;
	margin: 0;
	list-style: none;
	display: none;
}

ul.sidebar-menu li ul.submenu li ul.subsecond.visible {
	display: block;
}

ul.sidebar-menu li ul.submenu li ul.subsecond li {
	display: block;
}

ul.sidebar-menu li ul.submenu li a ul.subsecond li a {
	display: block;
	color: #79818B;
	height: 35px;
	padding: 10px 15px 10px 0;
	border-bottom: none;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	font-size: 11px;
	border-left: 1px solid #656D78;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.sidebar-menu li ul.submenu li ul.subsecond li a .span-sidebar {
	position: absolute;
	right: 15px;
	top: 10px;
}

ul.sidebar-menu li ul.submenu li ul.subsecond li a:hover, ul.sidebar-menu li ul.submenu li ul.subsecond li a:focus
	{
	color: #E6E9ED;
}

ul.sidebar-menu li ul.submenu li ul.subsecond li.selected a, ul.sidebar-menu li ul.submenu li ul.subsecond li.selected a:hover,
	ul.sidebar-menu li ul.submenu li ul.subsecond li.selected a:focus, ul.sidebar-menu li ul.submenu li ul.subsecond li.active a,
	ul.sidebar-menu li ul.submenu li ul.subsecond li.active a:hover, ul.sidebar-menu li ul.submenu li ul.subsecond li.active a:focus
	{
	color: #E6E9ED;
	background-color: #2C3439;
}

ul.sidebar-menu li ul.submenu li ul.subsecond li a:before {
	content: "\2014\00a0";
	margin-left: -1px;
	color: #79818B;
}

ul.sidebar-menu.online-user li a {
	padding: 10px 20px 10px 60px;
	height: 55px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.sidebar-menu.online-user li a .small-caps {
	font-size: 11px;
	color: #656D78;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.sidebar-menu.online-user li a .ava-sidebar {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	margin: 10px;
	z-index: 1;
}

ul.sidebar-menu.online-user li a .user-status {
	width: 13px;
	height: 13px;
	position: absolute;
	z-index: 2;
	background: #F5F7FA;
	left: 35px;
	top: 7px;
	border-radius: 50%;
	border: 2px solid #313940;
}

ul.sidebar-menu.online-user li a .device-status {
	position: absolute;
	right: 15px;
	top: 20px;
	color: #656D78;
	font-size: 14px;
}

ul.sidebar-menu.online-user li a .user-status.success {
	background: #8CC152;
}

ul.sidebar-menu.online-user li a .user-status.danger {
	background: #E9573F;
}

ul.sidebar-menu.online-user li a .user-status.warning {
	background: #F6BB42;
}

ul.sidebar-menu.online-user li a .user-status.info {
	background: #3BAFDA;
}

ul.sidebar-menu.online-user li a .user-status.primary {
	background: #37BC9B;
}

ul.sidebar-menu.sidebar-notification {
	margin-bottom: 30px;
}

ul.sidebar-menu.sidebar-notification li a {
	padding: 10px 20px 10px 60px;
	height: 55px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
}

ul.sidebar-menu.sidebar-notification li a .activity {
	font-size: 13px;
	color: #AAB2BD;
	font-weight: 400;
}

ul.sidebar-menu.sidebar-notification li a .small-caps {
	font-size: 11px;
	color: #656D78;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 400;
}

ul.sidebar-menu.sidebar-notification li a .ava-sidebar {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	margin: 10px;
	z-index: 1;
}

ul.sidebar-menu.sidebar-task {
	margin-bottom: 30px;
}

ul.sidebar-menu.sidebar-task li a {
	padding: 10px 20px 10px 60px;
	height: 55px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.sidebar-menu.sidebar-task li a .small-caps {
	font-size: 11px;
	color: #656D78;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.sidebar-menu.sidebar-task li a .icon-task-sidebar {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	margin: 10px;
	z-index: 1;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
	padding: 7px 0;
}

ul.sidebar-menu.sidebar-task li a .icon-task-sidebar.completed {
	background: #8CC152
}

ul.sidebar-menu.sidebar-task li a .icon-task-sidebar.uncompleted {
	background: #E9573F
}

ul.sidebar-menu.sidebar-task li a .icon-task-sidebar.progress {
	background: #F6BB42
}

h1.page-heading {
	padding: 5px 0;
	margin: 15px 0 20px;
	font-size: 22px;
	font-weight: 700;
	line-height: 100%;
	text-transform: uppercase;
	color: #656D78;
}

h1.page-heading small {
	text-transform: none;
	color: #ACB5BE;
}

.white-back {
	background-color: #f8f7f7;
	min-height: 660px;
}

.black-back {
	background-color: #798087;
}

.menu-side {
	background-color: #313940;
}

@media ( min-width : 768px) {
	.sidebar-left {
		position: relative;
		top: 0px;
		left: 0;
		bottom: 0;
		background: #313940;
		color: #AAB2BD;
		z-index: 10;
		-webkit-transition: All 0.3s ease;
		-moz-transition: All 0.3s ease;
		-o-transition: All 0.3s ease;
		max-height: 446px;
		-webkit-width: 228px !important;
	}
	.sidebar-left.admin {
		max-height: 620px;
	}
	.sidebar-left.toggle {
		left: 0px;
	}
	.wrapper.dashboard .sidebar-left {
		background: #313940 none repeat scroll 0 0;
		bottom: 0;
		color: #aab2bd;
		left: -250px;
		position: fixed;
		top: 120px;
		transition: all 0.3s ease 0s;
		width: 250px;
		z-index: 10;
	}
	.page-content {
		margin-left: 0px;
		left: 0;
	}
	.page-content.toggle {
		left: 0;
		margin-left: 0px;
		margin-right: 0px;
	}
	.footer {
		margin-left: 0px;
		left: 0;
	}
	.footer.toggle {
		left: 0;
		margin-left: 0px;
	}
	.header {
		margin-left: 0px;
		left: 0;
	}
	.header.toggle {
		left: 0;
		margin-left: 0px;
	}
	.header-second {
		margin-left: 0px;
		left: 0;
	}
	.header-second.toggle {
		left: 0;
		margin-left: 0px;
	}
}

@media ( max-width : 767px) {
	/**
	-------------------------------------------
	MAIN LAYOUT
	-------------------------------------------
	**/
	.wrapper.inner .header {
		background-color: #fff;
		padding-top: 20px;
		position: fixed;
		width: 100%;
		z-index: 999;
		margin-top: 0px;
		padding-top: 20px;
	}
	.wrapper.inner .header-second {
		background-color: #ffbf00;
		min-height: 40px;
		position: fixed;
		top: 80px;
		width: 100%;
		z-index: 999;
	}
	.wrapper.dashboard .header {
		background-color: #fff;
		padding-top: 20px;
		position: fixed;
		width: 100%;
		z-index: 999;
		margin-top: 0px;
		padding-top: 20px;
	}
	.wrapper.dashboard .header-second {
		background-color: #ffbf00;
		min-height: 40px;
		position: fixed;
		top: 80px;
		width: 100%;
		z-index: 999;
	}
	.wrapper.dashboard .breadcrum-grey {
		min-height: 40px;
		position: fixed;
		top: 120px;
		width: 100%;
		z-index: 19;
	}
	.sidebar-left {
		position: fixed;
		top: 120px;
		left: -250px;
		bottom: 0;
		width: 250px;
		background: #313940;
		color: #AAB2BD;
		z-index: 10;
		-webkit-transition: All 0.3s ease;
		-moz-transition: All 0.3s ease;
		-o-transition: All 0.3s ease;
	}
	.wrapper.dashboard .sidebar-left {
		position: fixed;
		top: 167px;
		left: -250px;
		bottom: 0;
		width: 250px;
		background: #313940;
		color: #AAB2BD;
		z-index: 10;
		-webkit-transition: All 0.3s ease;
		-moz-transition: All 0.3s ease;
		-o-transition: All 0.3s ease;
	}
	.wrapper.dashboard .sidebar-left.toggle {
		left: 0px;
	}
	.sidebar-left.toggle {
		left: 0px;
	}
	.page-content.inner {
		margin-left: 0px;
		left: 0;
		margin-top: 120px;
	}
	.wrapper.dashboard .page-content {
		margin-left: 0px;
		left: 0;
		margin-top: 170px;
	}
	.page-content.toggle {
		left: 0;
		margin-left: 250px;
		margin-right: -250px;
	}
	.wrapper.dashboard .page-content.toggle {
		left: 0;
		margin-left: 250px;
		margin-right: -250px;
	}
	.footer {
		margin-left: 0px;
		left: 0;
	}
	.footer.toggle {
		left: 0;
		margin-left: 250px;
		margin-right: -250px;
	}
	.header {
		margin-left: 0px;
		left: 0;
	}
	.header.toggle {
		left: 0;
		margin-left: 0px;
		margin-right: 0px;
	}
	.header-second {
		margin-left: 0px;
		left: 0;
	}
	.header-second.toggle {
		left: 0;
		margin-left: 0px;
		margin-right: 0px;
	}
	.page-content.toggle-left {
		margin-left: -250px;
		margin-right: 250px;
	}
	.sidebar-right.toggle-left {
		right: 0px;
	}
	ul.sidebar-menu li {
		padding-left: 0px;
	}
	.black-back {
		background-color: #ffffff;
	}
}

select.selectpicker {
	display: none !important;
}

p {
	margin-top: 7px;
}

.gap {
	display: block;
	position: relative;
	margin: 30px 0 30px 0;
	clear: both;
	overflow: hidden;
}

.gap:after {
	content: '';
	display: table;
}

.gap-mini {
	margin: 10px 0 10px 0;
}

.gap-mini2 {
	margin: 5px 0 5px 0;
}

.gap-small {
	margin: 15px 0 15px 0;
}

.gap-mid {
	margin: 20px 0 20px 0;
}

.gap-mid2 {
	margin: 40px 0 40px 0;
}

.gap-big {
	margin: 60px 0 60px 0;
}

.gap-big2 {
	margin: 75px 0 75px 0;
}

.gap-large {
	margin: 90px 0 90px 0;
}

.thead-custom {
	background: #CCC;
}

.table-custom {
	border: 1px solid;
	margin: 0 auto;
}

.table-custom th, .table-custom td {
	border: 1px solid;
}

.table {
	margin-bottom: 0px;
}

.cc-color1 {
	color: blue;
}

.cc-color2 {
	color: red;
}

.txt-custom {
	color: red;
}

.txt-custom2 {
	color: green;
}

.custom-lbl label {
	display: flex;
}

.custom-bx {
	margin: 0 auto;
	width: 80%;
}

.wgtmsr {
	width: 30px;
}

.spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99999;
}

.spinner span {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	margin-top: -25px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	background:
		url(${pageContext.request.contextPath}/roadtax/images/spinner.gif)
		center no-repeat #f6f6f6;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-khtml-border-radius: 25px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.errorText {
	color: red
}

.orangeColor {
	color: #FFA500
}

.btn-print {
	display: inline-block;
	background: buttonface;
	padding: 5px 10px;
	border: 1px solid #ccc;
}