/*
* FooTable v3 - FooTable is a jQuery plugin that aims to make HTML tables on smaller devices look awesome.
* @version 3.0.6
* @link http://fooplugins.com
* @copyright Steven Usher & Brad Vincent 2015
* @license Released under the GPLv3 license.
*/
table.footable>thead>tr.footable-filtering>th {
	border-bottom-width: 1px;
	font-weight: normal;
}

table.footable>thead>tr.footable-filtering>th, table.footable.footable-filtering-right>thead>tr.footable-filtering>th
	{
	text-align: right;
}

table.footable.footable-filtering-left>thead>tr.footable-filtering>th {
	text-align: left;
}

table.footable.footable-filtering-center>thead>tr.footable-filtering>th
	{
	text-align: center;
}

table.footable>thead>tr.footable-filtering>th div.form-group {
	margin-bottom: 0;
}

table.footable>thead>tr.footable-filtering>th div.form-group+div.form-group
	{
	margin-top: 5px;
}

table.footable>thead>tr.footable-filtering>th div.input-group {
	width: 100%;
}

table.footable>thead>tr.footable-filtering>th ul.dropdown-menu>li>a.checkbox
	{
	margin: 0;
	display: block;
	position: relative;
}

table.footable>thead>tr.footable-filtering>th ul.dropdown-menu>li>a.checkbox>label
	{
	display: block;
	padding-left: 20px;
}

table.footable>thead>tr.footable-filtering>th ul.dropdown-menu>li>a.checkbox input[type="checkbox"]
	{
	position: absolute;
	margin-left: -20px;
}

@media ( min-width : 768px) {
	table.footable>thead>tr.footable-filtering>th div.input-group {
		width: auto;
	}
	table.footable>thead>tr.footable-filtering>th div.form-group {
		margin-left: 2px;
		margin-right: 2px;
	}
	table.footable>thead>tr.footable-filtering>th div.form-group+div.form-group
		{
		margin-top: 0;
	}
}