/*
* FooTable v3 - FooTable is a jQuery plugin that aims to make HTML tables on smaller devices look awesome.
* @version 3.0.6
* @link http://fooplugins.com
* @copyright Steven Usher & Brad Vincent 2015
* @license Released under the GPLv3 license.
*/
td.footable-sortable, th.footable-sortable {
	position: relative;
	padding-right: 30px;
	cursor: pointer;
}

td.footable-sortable>span.fooicon, th.footable-sortable>span.fooicon {
	position: absolute;
	right: 6px;
	top: 50%;
	margin-top: -7px;
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

td.footable-sortable:hover>span.fooicon, th.footable-sortable:hover>span.fooicon
	{
	opacity: 1;
}

td.footable-sortable.footable-asc>span.fooicon, th.footable-sortable.footable-asc>span.fooicon,
	td.footable-sortable.footable-desc>span.fooicon, th.footable-sortable.footable-desc>span.fooicon
	{
	opacity: 1;
}