/* iCheck plugin Square skin, yellow
----------------------------------- */
.icheckbox_square-yellow, .iradio_square-yellow {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 22px;
	height: 22px;
	background: url(yellow.png) no-repeat;
	border: none;
	cursor: pointer;
}

.icheckbox_square-yellow {
	background-position: 0 0;
}

.icheckbox_square-yellow.hover {
	background-position: -24px 0;
}

.icheckbox_square-yellow.checked {
	background-position: -48px 0;
}

.icheckbox_square-yellow.disabled {
	background-position: -72px 0;
	cursor: default;
}

.icheckbox_square-yellow.checked.disabled {
	background-position: -96px 0;
}

.iradio_square-yellow {
	background-position: -120px 0;
}

.iradio_square-yellow.hover {
	background-position: -144px 0;
}

.iradio_square-yellow.checked {
	background-position: -168px 0;
}

.iradio_square-yellow.disabled {
	background-position: -192px 0;
	cursor: default;
}

.iradio_square-yellow.checked.disabled {
	background-position: -216px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and
		(-moz-min-device-pixel-ratio: 1.5) , only screen and
		(-o-min-device-pixel-ratio: 3/2) , only screen and
	(min-device-pixel-ratio: 1.5) {
	.icheckbox_square-yellow, .iradio_square-yellow {
		background-image: url(yellow_2x.png);
		-webkit-background-size: 240px 24px;
		background-size: 240px 24px;
	}
}