
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Etiqa</title>
        <!-- meta info -->
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" >
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="no-store">
        <meta name="keywords" content="Etiqa Customer Portal" />
        <meta name="description" content="Etiqa">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

        <!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        
        <!-- PLUGINS CSS -->
        <link href="plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
        <link href="plugins/owl-carousel/owl.theme.min.css" rel="stylesheet">
        <link href="plugins/owl-carousel/owl.transitions.min.css" rel="stylesheet">
        
        <!-- MAIN CSS (REQUIRED ALL PAGE)-->
        <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/owl.css" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-select.css" rel="stylesheet">
        <link href="plugins/datatable/css/bootstrap.datatable.min.css" rel="stylesheet">
        <link href="plugins/datatable/css/dataTables.searchHighlight.css" rel="stylesheet">
        <link href="css/menu.css" rel="stylesheet">
        <!--<link href="css/style.css" rel="stylesheet">-->
 
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="libs/html5shiv.js"></script>
        <script src="libs/respond.min.js"></script>
        <![endif]-->
    </head>
 
    <body>
         <%
		if (session != null) {
			if (session.getAttribute("user") != null) {
				String name = (String) session.getAttribute("user");
				} else {
				response.sendRedirect("admin-login.jsp");
			}
		}
	%>
        <!--
        ===========================================================
        BEGIN PAGE
        ===========================================================
        -->
        <div class="wrapper inner">
            <!-- header -->
            <div class="header">
                <div class="container">
                    <div class="row">
                            <div class="col-sm-6">
                                    <div class="visible-xs-block">
                                        <!-- Begin button sidebar left toggle -->
                                        <div class="btn-collapse-sidebar-left logo">
                                            <i class="fa fa-bars"></i>
                                        </div><!-- /.btn-collapse-sidebar-left -->
                                        <!-- End button sidebar left toggle -->
                                    </div>
                                    <div class="logo">
                                        <img class="" src="images/logo.png" alt="logo">
                                    </div>
                                    <div class="title">
                                        Customer Web Portal
                                    </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-6">
                                <!-- BEGIN TOP NAV -->
                                    <div class="top-navbar">
                                        <div class="top-navbar-inner">

                                            <div class="top-nav-content">
                                            
                                                <!-- Begin Collapse menu nav -->
                                                <div class="collapse navbar-collapse" id="main-fixed-nav">
                                                    <!-- Begin user session nav -->
                                                    <ul class="nav-user navbar-right">
                                                        <li class="dropdown">
                                                          <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-user"></i>
                                                            Welcome <strong>Siti Amirah Umar</strong>
                                                            <i class="fa fa-angle-down fa-lg"></i>
                                                          </a>
                                                          <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                                                            <li><a href="security-setting.html">Security setting</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="logout.html">Log out</a></li>
                                                          </ul>
                                                        </li>
                                                    </ul>
                                                    <!-- End user session nav -->
                                                    <ul class="nav navbar-nav alert navbar-right">
                                                        <!-- Begin nav notification -->
                                                        <li class="dropdown">
                                                            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                                                                <span class="badge badge-warning icon-count">7</span>
                                                                <i class="fa fa-bell"></i>
                                                            </a>
                                                            <ul class="dropdown-menu square margin-list-rounded with-triangle">
                                                                <li>
                                                                    <div class="nav-dropdown-heading">
                                                                    Notifications
                                                                    </div><!-- /.nav-dropdown-heading -->
                                                                    <div class="nav-dropdown-content scroll-nav-dropdown">
                                                                        <ul>
                                                                            <li class="unread"><a href="#fakelink">
                                                                                <div class="absolute-left-content icon-task progress">I</div>
                                                                                Creating documentation
                                                                                <span class="small-caps">Completed : Yesterday</span>
                                                                            </a></li>
                                                                            <li><a href="#fakelink">
                                                                                <div class="absolute-left-content icon-task progress">G</div>
                                                                                Eating sands
                                                                                <span class="small-caps">Deadline : Tomorrow</span>
                                                                            </a></li>
                                                                            <li><a href="#fakelink">
                                                                                <div class="absolute-left-content icon-task progress">I</div>
                                                                                Sending payment
                                                                                <span class="small-caps">Deadline : Next week</span>
                                                                            </a></li>
                                                                            <li class="unread"><a href="#fakelink">
                                                                                <div class="absolute-left-content icon-task progress">G</div>
                                                                                Sleeping under bridge
                                                                                <span class="small-caps">Completed : Dec 31, 2013</span>
                                                                            </a></li>
                                                                            <li class="unread"><a href="#fakelink">
                                                                                <div class="absolute-left-content icon-task progress">G</div>
                                                                                Buying some cigarettes
                                                                                <span class="small-caps">Completed : 2 days ago</span>
                                                                            </a></li>
                                                                        </ul>
                                                                    </div><!-- /.nav-dropdown-content scroll-nav-dropdown -->
                                                                    <form action="notification.html">
                                                                    <button class="btn btn-warning btn-square btn-block">See all task</button>
                                                                    </form>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- End nav notification -->
                                                    </ul>
                                                    <!-- Begin nav search form -->
                                                    <div class="navbar-form navbar-right" role="search">
                                                        <div class="form-group">
                                                            <div id="custom-search-input">
                                                                <div class="input-group col-md-12">
                                                                    <input type="text" class="  search-query form-control" placeholder="Search" />
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-danger" type="button">
                                                                            <span class=" glyphicon glyphicon-search"></span>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End nav search form -->
                                                    
                                                </div><!-- /.navbar-collapse -->
                                                <!-- End Collapse menu nav -->
                                            </div><!-- /.top-nav-content -->
                                        </div><!-- /.top-navbar-inner -->
                                    </div><!-- /.top-navbar -->
                                    <!-- END TOP NAV -->
                                <div class="clearfix"></div>
                            </div>
                    </div><!-- /.row -->
                </div>
            </div>
            <!-- end header -->
            <!-- header second-->
            <div class="header-second">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 hidden-xs">
                            <!-- Begin breadcrumb -->
                            <ol class="breadcrumb">
                                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                                <li><a href="dashboard.html">Admin</a></li>
                                <li class="active">Send Activation Code</li>
                            </ol>
                            <!-- End breadcrumb -->
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <div class="col-sm-8">
                                <div class="text-right last-login">
                                    Your last login was on 01 Feb 2016  10:01:01
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="language">
                                    <select class="selectpicker">
                                        <option value="United States">English</option>
                                        <option value="United Kingdom">Malay</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 visible-xs-block">
                            <div class="mobile-view">
                                <ul class="nav-user navbar-right">
                                    <li class="dropdown">
                                      <a href="#fakelink" class="dropdown-toggle text-right" data-toggle="dropdown">
                                        <i class="fa fa-user"></i>
                                        Welcome <strong>Siti Amirah Umar</strong>
                                        <i class="fa fa-angle-down fa-lg"></i>
                                      </a>
                                      <ul class="dropdown-menu square primary margin-list-rounded with-triangle pull-right">
                                        <li><a href="security-setting.html">Security setting</a></li>
                                        <li class="divider"></li>
                                        <li><a href="logout.html">Log out</a></li>
                                      </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header second-->
            <!-- BEGIN PAGE CONTENT -->
            <!-- Mobile menu -->
            <div class="page-content inner">
                <div class="container-fluid black-back"><!-- /.container-->
                    <div class="row">
                        <div class="col-sm-3 col-md-2 fluid-menu">
                            <div class="sidebar-left sidebar-nicescroller admin">
                                <!-- desktop menu -->
                                <ul class="sidebar-menu admin">
                                   			<li class="active"><a href="login"> <span
										class="icon-sidebar icon update"></span> <i
										class="fa fa-angle-left chevron-icon-sidebar"></i> Update
										Phone Number
								</a></li>
								<li><a href="getReportData"> <span
										class="icon-sidebar icon notifi-manag"></span> Failed Register
										Report
								</a></li>
								<li ><a href="getUserReportData"> <span
										class="icon-sidebar icon notifi-manag"></span> Registered
										Customers
								</a></li>
								<li><a href="getValidationFailedData"> <span
										class="icon-sidebar icon notifi-manag"></span> Rejected
										Customers
								</a></li>
								<li><a href="getUserFailedAgentData"> <span
										class="icon-sidebar icon notifi-manag"></span> 
										Agent IC Number Mismatch
								</a></li>
								<li><a href="getFailedMobileData"> <span
										class="icon-sidebar icon notifi-manag"></span> 
										Agent Mobile Number Mismatch
								</a></li>
								<li><a href="PollsReportData"> <span
										class="icon-sidebar icon notifi-manag"></span> Polls Report
								</a></li>
								<li><a href="./"> <span
										class="icon-sidebar icon notifi-manag"></span> Logout
								</a></li>
							</ul>
					
                            </div><!-- /.sidebar-left -->
                        </div>
                       <div class="col-sm-9 col-md-10 white-back">
                           <div class="row">
                               <div>
                                    <!-- breadcrum -->
                                    <div class="breadcrum-grey">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Begin breadcrumb -->
                                                <ol class="breadcrumb">
                                                    <li><a href="#fakelink">Send Activation Code</a></li>
                                                </ol>
                                                <!-- End breadcrumb -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- breadcrum -->
                                </div>
                                <div class="col-sm-11">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="title">
                                               <div class="sub">
                                                   <h4>Send Activation Code</h4>
                                               </div>
                                           </div>
                                            <div class="content-inner">
                                                <div class="the-box">
                                                    <div class="col-sm-6">
                                                        <div class="form-horizontal">
                                                          <div class="form-group">
                                                            <label class="col-sm-4 control-label">NRIC Number<span class="text-danger">*</span></label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                          </div>
                                                          
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-horizontal">
                                                          <div class="form-group">
                                                            <label class="col-sm-4 control-label">Phone Number <span class="text-danger">*</span></label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control">
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 text-right">
                                                        <button class="btn btn-default" type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container -->   
                
            </div><!-- /.page-content -->
            <!-- BEGIN FOOTER -->
            <div class="footer">  
                <footer>
                    <div class="fluid-yellow">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-9">
                                    <ul class="left gap">
                                        <li><a href="faq.html"><i class="fa fa-question"></i>FAQ</a></li>
                                        <li><a href="help.html"><i class="fa fa-medkit"></i>Help</a></li>
                                        <li><a href="#"><i class="fa fa-building-o"></i>Branch Locator</a></li>
                                        <li><a href="form-library.html"><i class="fa fa-briefcase"></i>Form Library</a></li>
                                        <li><a href="contactus.html"><i class="fa fa-envelope"></i>Contact Us</a></li>
                                        <li><a href="fund_fact.html"><i class="fa fa-file-text-o"></i>Fund Fact Sheets</a></li>
                                        <li><a href="#"><i class="fa fa-calculator"></i>Motor Calculator</a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="text-right gap">
                                        <img class="" src="images/member-my.png" alt="logo">
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="fluid-grey">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="gap">&copy; 2016 Etiqa. All Rights Reserved</div>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="right">
                                        <li><a href="terms.html">Terms</a></li>
                                        <li><a href="privacy.html">Privacy</a></li>
                                        <li><a href="disclaimer.html">Disclaimer</a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>  
            </div>
            <!-- END FOOTER -->
        </div><!-- /.wrapper -->
        <!-- END PAGE CONTENT -->
        
        
    
        <!-- BEGIN BACK TO TOP BUTTON -->
<!--
        <div id="back-top">
            <a href="#top"><i class="fa fa-chevron-up"></i></a>
        </div>
-->
        <!-- END BACK TO TOP -->
        
        
        <!--
        ===========================================================
        END PAGE
        ===========================================================
        -->
        
        <!--
        ===========================================================
        Placed at the end of the document so the pages load faster
        ===========================================================
        -->
        <!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
            <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>
        <script src="js/bootstrap-tabcollapse.js"></script>

        <script src="plugins/retina/retina.min.js"></script>
        <script src="plugins/nicescroll/jquery.nicescroll.js"></script>
        <script src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="plugins/backstretch/jquery.backstretch.min.js"></script>

 
        <!-- PLUGINS -->
        <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
        <script src="plugins/prettify/prettify.js"></script>
        <script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
        
        <script src="plugins/chosen/chosen.jquery.min.js"></script>
        <script src="plugins/icheck/icheck.min.js"></script>
        <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
        <script src="plugins/timepicker/bootstrap-timepicker.js"></script>
        <script src="plugins/mask/jquery.mask.min.js"></script>
        <script src="plugins/validator/bootstrapValidator.min.js"></script>
        <script src="plugins/datatable/js/jquery.dataTables.min.js"></script>
        <script src="plugins/datatable/js/bootstrap.datatable.js"></script>
        <script src="plugins/datatable/js/jquery.highlight.js"></script>
        <script src="plugins/datatable/js/dataTables.searchHighlight.min.js"></script>
        <script src="plugins/summernote/summernote.min.js"></script>
        <script src="plugins/markdown/markdown.js"></script>
        <script src="plugins/markdown/to-markdown.js"></script>
        <script src="plugins/markdown/bootstrap-markdown.js"></script>
        <script src="plugins/slider/bootstrap-slider.js"></script>
        <script src="plugins/toastr/toastr.js"></script>
        <script src="plugins/newsticker/jquery.newsTicker.min.js"></script>
        <script src="plugins/placeholder/jquery.placeholder.js"></script>
        
        
        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="plugins/jquery-knob/jquery.knob.js"></script>
        <script src="plugins/jquery-knob/knob.js"></script>
        
        <!-- MAIN APPS JS -->
        <script src="js/apps.js"></script>
        
    </body>
</html>