@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans Regular"), local("DroidSans-Regular"), url(../fonts/droidsans.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

* {
  font-family: "Droid Sans";
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

img {
  width: 100%; }

html {
  font-size: 16px; }

h3, h4 {
  font-size: 1.2rem; }

.primary {
  color: #ffbf00; }

.grey {
  color: #f4f4f4; }

.blue {
  color: #135a89; }

.green {
  color: #49c0b6; }

.carrara {
  color: #e8e2d0; }

.white {
  color: #fff; }

.black {
  color: #000; }

.font12 {
  font-size: 12px; }

.font14 {
  font-size: 14px; }

.font16 {
  font-size: 16px; }

.font18 {
  font-size: 18px; }

.font20 {
  font-size: 20px; }

.font22 {
  font-size: 22px; }

.font24 {
  font-size: 24px; }

.font26 {
  font-size: 26px; }

.font28 {
  font-size: 28px; }

.font30 {
  font-size: 30px; }

.font32 {
  font-size: 32px; }

.font34 {
  font-size: 34px; }

.font36 {
  font-size: 36px; }

.font38 {
  font-size: 38px; }

.font40 {
  font-size: 40px; }

a:hover {
  text-decoration: none !important; }

.bg-grey, .nav-tabs .nav-item {
  background-color: #f4f4f4; }

.bg-space-grey, .benefit-icon {
  background-color: #686868; }

.bg-yellow, .table .thead-yellow th, .nav-tabs .nav-item.active {
  background-color: #ffbf00; }

.bg-green {
  background-color: #49c0b6; }

.bg-white {
  background-color: #ffffff; }

.bg-carrara {
  background-color: #e8e2d0; }

.green {
  color: #49c0b6; }

.blue {
  color: #135a89; }

.text-color, .btn, .nav-tabs .nav-item, .v-nav-pills .nav-link {
  color: #0d0d0d; }

.text-green {
  color: #49c0b6; }

.text-yellow, .benefit-icon .fas, .benefit-icon .fab {
  color: #ffbf00; }

.absolute {
  position: absolute; }

.bold, .btn, .section-title, .why-etiqa .card .card-header .accordion-toggle, footer .access .settings li a, .mobile-menu .nav-item.show .nav-link, .breadcrumb .active, .full-accord .card .card-header .accordion-toggle, .v-nav-pills .nav-link.active, #smartbanner .sb-info h5, #smartbanner .sb-btn a, .sitemap .list-group .list-group-item, .sitemap .list-group .list-group-item a {
  font-weight: bold; }

.super {
  vertical-align: super; }

.sub {
  vertical-align: sub; }

.border-bottom {
  border-bottom: 1px solid #aaa !important;
  margin: 1rem 0; }

.btn {
  border-radius: 2rem;
  padding: 1rem 2em;
  border: none; }
  @media screen and (min-width: 992px) {
    .btn {
      padding: .8rem 3.5rem; } }

.btn-primary {
  background-color: #ffbf00; }
  .btn-primary:hover {
    background-color: #222;
    color: #ffffff; }

.btn-green {
  background-color: #49c0b6; }
  .btn-green:hover {
    background-color: #222;
    color: #ffffff; }

.btn-black {
  background-color: black;
  border-radius: 2rem;
  padding: .6rem 1.7rem;
  color: #ffffff; }

.yellow-line {
  border-bottom: 3px solid #ffbf00;
  max-width: 40%;
  margin: 0 auto;
  margin-bottom: 0.6rem;
  padding-bottom: 0.4rem; }

.w-1390 {
  max-width: 1390px !important; }

.w-960 {
  max-width: 960px; }

.shadow-md {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.12) !important; }

.shadow {
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.15) !important; }

.lh {
  line-height: .5; }

.lh-1 {
  line-height: 1; }

.lh-2 {
  line-height: 1.5; }

.lh-3 {
  line-height: 2; }

.row-eq-height {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex; }
  .row-eq-height > [class*="col-"] {
    display: flex; }

picture {
  overflow: hidden;
  display: block; }

.rounded img {
  border: 1px solid #ffbf00;
  padding: 10px;
  border-radius: 50%; }

input[type=text], select.form-control {
  border-radius: 2rem;
  background-color: #f4f4f4;
  border-color: #f4f4f4; }

.night {
  background-color: #000 !important;
  color: #ffffff; }
  .night .bg-grey, .night .nav-tabs .nav-item, .nav-tabs .night .nav-item, .night .testimonial, .night .bg-yellow, .night .table .thead-yellow th, .table .thead-yellow .night th, .night .nav-tabs .nav-item.active, .nav-tabs .night .nav-item.active, .night .carousel .carousel-caption {
    background-color: #000 !important; }
  .night .bg-grey *, .night .nav-tabs .nav-item *, .nav-tabs .night .nav-item *, .night .testimonial *, .night .bg-yellow *, .night .table .thead-yellow th *, .table .thead-yellow .night th *, .night .nav-tabs .nav-item.active *, .nav-tabs .night .nav-item.active *, .night .claims .claim h3, .night .claims .claim h4, .night .claims .claim p, .night .navbar .navbar-nav .nav-link {
    color: #ffffff; }
  .night .mobile-menu .dropdown-divider {
    border-color: #e9ecef; }
  .night .products .col-4 a {
    background-color: white;
    display: block;
    min-height: 110px; }
  .night .card p, .night .test-content * {
    color: #0d0d0d; }

.section-title {
  margin: 1rem 0; }

.section-quote {
  font-style: italic;
  margin: 1rem;
  border-left: 4px solid #ffbf00;
  padding-left: 1rem;
  background: #f4f4f4;
  padding: 1rem; }

.logo {
  z-index: 1010;
  position: absolute;
  left: 50%;
  margin-left: -55px;
  top: .45rem; }
  @media screen and (min-width: 992px) {
    .logo {
      top: 1rem; } }
  .logo img {
    width: auto; }

.products img, .details img, .copyright img {
  width: auto; }

.curve {
  width: 100px;
  height: 100px;
  position: absolute;
  display: block;
  border-radius: 50px;
  background-color: #ffffff;
  z-index: 1001;
  left: 50%;
  margin-left: -50px;
  top: -25px; }

.mobile-wrap .curve {
  top: -.85rem;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75); }

.toggle {
  display: none; }

.navbar {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .navbar .navbar-nav .nav-link {
    color: #0d0d0d;
    text-transform: uppercase;
    font-size: 14px; }

.more {
  position: absolute;
  margin-left: -61px;
  bottom: -23px;
  cursor: pointer;
  left: 50%;
  background-color: #000 !important;
  border-radius: 2rem !important;
  padding: .6rem 1.7rem !important;
  color: #ffffff; }
  .more.open.collapsed span {
    vertical-align: text-top; }
    .more.open.collapsed span:after {
      content: 'More '; }
  .more.open.collapsed svg.double-arrow {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  .more.open span:after {
    content: 'Less '; }
  .more.open svg.double-arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

.why-etiqa .card {
  margin-bottom: .5rem;
  border: none !important; }
  .why-etiqa .card .card-header {
    padding: 0 !important;
    background-color: #fff !important;
    border-bottom: none !important; }
    .why-etiqa .card .card-header .accordion-toggle {
      padding: 1rem 2rem 1rem 3rem;
      display: block;
      color: #0d0d0d; }
      .why-etiqa .card .card-header .accordion-toggle .arrow-right {
        position: absolute;
        top: 18px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        -webkit-transform: translateX(-25px) rotate(90deg);
        -moz-transform: translateX(-25px) rotate(90deg);
        -ms-transform: translateX(-25px) rotate(90deg);
        -o-transform: translateX(-25px) rotate(90deg);
        transform: translateX(-25px) rotate(90deg); }
      .why-etiqa .card .card-header .accordion-toggle.collapsed .arrow-right {
        -webkit-transform: translateX(-25px) rotate(0deg);
        -moz-transform: translateX(-25px) rotate(0deg);
        -ms-transform: translateX(-25px) rotate(0deg);
        -o-transform: translateX(-25px) rotate(0deg);
        transform: translateX(-25px) rotate(0deg); }
  .why-etiqa .card .card-body {
    padding-left: 3rem;
    padding-right: 1.5rem; }

.products a img {
  margin-bottom: .8rem; }

.products a p {
  color: #0d0d0d; }

.products a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

.claims a {
  display: block; }

.claims .claim {
  position: relative; }
  .claims .claim svg.arrow-right {
    position: absolute;
    right: 1rem;
    top: 3.5rem; }
  .claims .claim h3, .claims .claim h4, .claims .claim p {
    color: #0d0d0d;
    padding-right: 2rem; }

.details {
  padding: 2rem 0; }
  .details img {
    float: left;
    margin-right: 1rem;
    max-width: 70px;
    background-color: #212121;
    padding: 12px;
    border-radius: 50%; }

.testimonial .carousel-indicators {
  bottom: unset;
  top: 0; }

.testimonial .test {
  padding: 2rem 2.5rem;
  background-color: #ffffff;
  position: relative; }
  .testimonial .test > img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin: 2rem 0; }
  .testimonial .test .test-content .smiley {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    left: 0; }

#testIndicators, #testIndicators1 {
  width: 100%;
  padding-top: 2rem; }

.awards .award-item {
  min-height: 200px;
  max-width: 300px;
  margin: auto; }

.awards img {
  position: absolute;
  left: 0; }

.awards .col-lg-4 {
  position: relative;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }

.awards .award-detail {
  padding: 0 3rem;
  margin-top: 2rem; }

footer {
  background-color: #414141;
  padding: 3rem 0; }
  footer .btn {
    padding: .8rem 2.5rem; }
  footer * {
    color: #fff; }
  footer .email {
    padding: .83rem 1rem;
    border-radius: 2rem;
    background-color: #272727;
    color: white;
    border: 1px solid #272727; }
  footer .footer-menu ul li {
    width: 49%;
    display: inline-block; }
  footer .social a {
    font-size: 14px;
    color: #ffffff;
    vertical-align: top; }
  footer .social .list-inline-item:not(:last-child) {
    margin-right: 0; }
  footer .access .settings li {
    width: auto; }
    footer .access .settings li a {
      color: #ffbf00;
      cursor: pointer;
      font-size: 18px; }
      footer .access .settings li a :hover {
        color: #ffffff; }
    footer .access .settings li svg {
      vertical-align: middle; }
  footer .access .settings > .list-inline-item:not(:first-child) {
    border-left: 1px solid #ccc;
    padding: 0.1rem 1rem; }

.share li a {
  color: #ffffff;
  display: block;
  padding: 12px 17px;
  border-radius: 2rem; }
  .share li a.fb {
    background-color: #3B5999;
    padding: 12px 20px; }
  .share li a.tw {
    background-color: #55ACEF;
    padding: 12px 16px; }
  .share li a.in {
    background-color: #0177B5; }
  .share li a.wa {
    background-color: #26D367; }

.copyright {
  background-color: #272727; }
  .copyright p {
    color: #ffffff; }
  .copyright ul li img {
    filter: grayscale(100%);
    max-width: 100px;
    opacity: 0.5;
    width: 60px;
    vertical-align: baseline; }

.mobile-menu .navbar {
  z-index: 1010; }

.mobile-menu .nav-link {
  font-size: 16px !important;
  padding: 1rem 1rem 1rem 2rem; }

.mobile-menu .mobile-search-form input {
  border-radius: 2rem;
  width: 100%; }

.mobile-menu .mobile-search-form a {
  position: absolute;
  right: 1rem; }

.mobile-menu .dropdown-divider {
  border-top: 1px solid #b1b1b1; }

.mobile-menu .dropdown-menu.show {
  background: #e1e1e1;
  border: none;
  margin-top: -8px; }
  .mobile-menu .dropdown-menu.show .dropdown-item {
    padding: 1rem 1rem 1rem 2.5rem;
    color: #333;
    text-transform: uppercase; }

/* mobile Push Menu */
.menu-wrap a {
  color: #b8b7ad; }

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #c94e50; }

.mobile-wrap {
  /* overflow-y: scroll; */
  -webkit-overflow-scrolling: touch;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s; }

.content {
  position: static; }

.content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: transform 0s 0.3s;
  -moz-transition: transform 0s 0.3s;
  -ms-transition: transform 0s 0.3s;
  -o-transition: transform 0s 0.3s;
  transition: transform 0s 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

/* Menu Button */
.menu-button {
  z-index: 1000;
  margin: 1em;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.5em;
  color: transparent;
  background: transparent; }

.menu-button:hover {
  opacity: 0.6; }

/* Close Button */
.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1030;
  background: transparent;
  color: transparent; }

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #95a5a6; }

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* Menu */
.menu-wrap {
  position: fixed;
  z-index: 1001;
  width: 300px;
  height: 100%;
  font-size: 1.15em;
  margin-top: 2.5rem;
  padding-top: .8rem;
  -webkit-transform: translate3d(-300px, 0, 0);
  -moz-transform: translate3d(-300px, 0, 0);
  -ms-transform: translate3d(-300px, 0, 0);
  -o-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s; }

.menu {
  background: #f1f1f1;
  width: calc(100% - 120px);
  height: 100%;
  padding: 2rem .5rem; }

.icon-list {
  width: 280px; }

.icon-list a {
  display: block;
  padding: 0.8em; }

.icon-list a i {
  opacity: 0.5; }

.icon-list a span {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.75em; }

/* Morph Shape */
.morph-shape {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  right: 0;
  fill: #f4f4f4;
  z-index: 1000; }

/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0, -40px, 0);
  -moz-transform: translate3d(0, -40px, 0);
  -ms-transform: translate3d(0, -40px, 0);
  -o-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0);
  overflow-y: scroll; }

.show-menu .mobile-wrap, .show-menu section {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0); }

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Mobile push menu code end */
.sb-search {
  position: relative;
  /* width: 0%; */
  min-width: 36px;
  height: 36px;
  overflow: hidden;
  -webkit-backface-visibility: hidden; }

input.sb-search-input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 100%;
  height: 36px;
  margin: 0;
  z-index: 10;
  padding: 10px 65px 10px 20px;
  color: #0d0d0d;
  border-radius: 0; }

.sb-icon-search,
.sb-search-submit {
  width: 40px;
  height: 36px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.6rem 0;
  margin: 0;
  text-align: center;
  cursor: pointer; }

.sb-search-submit {
  background: transparent;
  color: #0d0d0d;
  border: none;
  outline: none;
  z-index: 10;
  text-indent: -9999px; }

.sb-icon-search {
  color: #222;
  z-index: 90;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
  /* width: 100%; */
  width: 275px; }

.sb-search-open {
  position: absolute;
  right: 0; }
  .sb-search-open .search-form {
    width: 185px; }
  .sb-search-open .sb-search-input {
    background-color: #f1f1f1;
    border-radius: 2rem; }

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #ffbf00;
  color: #fff;
  z-index: 11;
  border-radius: 0 2rem 2rem 0; }

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90; }

.benefit {
  width: 100%; }
  .benefit img {
    max-width: 95px; }

/*=== Animation  ===*/
.animate {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.animate.infinite {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.three {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  animation-delay: 2.5s; }

.four {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  -ms-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s; }

/*=== Animations start here  ===*/
/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-ms-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp; }

/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-ms-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown; }

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-ms-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-moz-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-ms-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -ms-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight; }

.wrap-loading {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1030; }

.loading {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  /* @include prefix(animation, spin 750ms infinite linear); */
  margin-top: -35px;
  margin-left: -35px;
  width: 200px;
  height: 60px;
  /* border: 4px solid #ebebeb; */
  /* border-top-color: #333; */
  background: url("../img/download.gif") no-repeat; }

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.menu-bar {
  display: block;
  position: relative;
  background: #000;
  width: 26px;
  height: 2px;
  border-radius: 1px;
  transition: all 300ms;
  margin: 0 auto; }

.navbar-toggler {
  margin-top: 10px; }
  .navbar-toggler .bar1 {
    top: 7%;
    animation: topbar-x 500ms;
    animation-fill-mode: both; }
  .navbar-toggler .bar2 {
    opacity: 0; }
  .navbar-toggler .bar3 {
    bottom: 13%;
    animation: bottombar-x 500ms;
    animation-fill-mode: both;
    margin-bottom: 1rem; }
  .navbar-toggler .menu-bar + .menu-bar {
    margin-top: -2px; }
  .navbar-toggler.collapsed {
    margin-top: 0; }
    .navbar-toggler.collapsed .bar1 {
      top: 0;
      animation: topbar-back 500ms;
      animation-fill-mode: both;
      animation-play-state: initial !important; }
    .navbar-toggler.collapsed .bar2 {
      opacity: 1; }
    .navbar-toggler.collapsed .bar3 {
      bottom: 0;
      animation: bottombar-back 500ms;
      animation-fill-mode: both;
      animation-play-state: initial !important;
      margin-bottom: 0; }
    .navbar-toggler.collapsed .menu-bar + .menu-bar {
      margin-top: 5px; }

.banner .container-fluid {
  padding: 0; }
  .banner .container-fluid .row {
    width: 100%;
    margin: 0; }

.breadcrumb {
  padding: 0; }
  .breadcrumb a {
    color: #0d0d0d;
    font-size: 14px; }
  .breadcrumb .active {
    font-size: 14px; }
  .breadcrumb .breadcrumb-item {
    padding: 0; }
  .breadcrumb .breadcrumb-item:not(:first-child)::before {
    background: url(../img/chevron-right-solid.svg) no-repeat;
    content: "";
    height: 12px;
    width: 15px;
    margin-left: 1rem;
    padding-left: 1rem; }

@media only screen and (max-width: 767px) {
  .toggled .bar1 {
    top: 20%; }
  .toggled .bar3 {
    bottom: 20%; } }

@keyframes topbar-x {
  0% {
    top: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  45% {
    top: 25%;
    -webkit-transform: rotate(145deg);
    -moz-transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    -o-transform: rotate(145deg);
    transform: rotate(145deg); }
  75% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  100% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); } }

@keyframes topbar-back {
  0% {
    top: 25%;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  45% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  75% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes bottombar-x {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  45% {
    bottom: 25%;
    -webkit-transform: rotate(-145deg);
    -moz-transform: rotate(-145deg);
    -ms-transform: rotate(-145deg);
    -o-transform: rotate(-145deg);
    transform: rotate(-145deg); }
  75% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  100% {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); } }

@keyframes bottombar-back {
  0% {
    bottom: 25%;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  45% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg); }
  75% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

.menu-label {
  font-size: 0.9em;
  position: relative;
  top: 10px;
  text-decoration: none;
  color: #ffffff; }
  .menu-label:hover {
    text-decoration: none;
    color: #ffbf00; }

.menu-active #menu-btn span {
  background-color: transparent; }

.menu-active #menu-btn:before {
  -webkit-transform: translateY(0) rotate(45deg) translateZ(0);
  -moz-transform: translateY(0) rotate(45deg) translateZ(0);
  -ms-transform: translateY(0) rotate(45deg) translateZ(0);
  -o-transform: translateY(0) rotate(45deg) translateZ(0);
  transform: translateY(0) rotate(45deg) translateZ(0); }

.menu-active #menu-btn:after {
  -webkit-transform: translateY(0) rotate(-45deg) translateZ(0);
  -moz-transform: translateY(0) rotate(-45deg) translateZ(0);
  -ms-transform: translateY(0) rotate(-45deg) translateZ(0);
  -o-transform: translateY(0) rotate(-45deg) translateZ(0);
  transform: translateY(0) rotate(-45deg) translateZ(0); }

.menu-active #menu-wrapper {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  /* @include prefix(transition, transform 0.4s, opacity 0.4s); */
  padding-top: 100px; }
  .menu-active #menu-wrapper .form-control-feedback {
    position: absolute;
    right: 0;
    left: 27px;
    right: auto; }
  .menu-active #menu-wrapper .menu-link li {
    list-style: none;
    text-align: left; }
  .menu-active #menu-wrapper .menu-link a {
    color: #ffffff; }
    .menu-active #menu-wrapper .menu-link a:hover {
      color: #ffbf00; }

.menu-active .menu-search input[type=t] {
  border: none;
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 4em; }

button.navbar-toggler {
  padding: .5rem; }

.full-accord .card {
  margin-bottom: .5rem;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important; }
  .full-accord .card .card-header {
    background-color: transparent;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border: none; }
    .full-accord .card .card-header .accordion-toggle {
      padding: 1rem 2rem 1rem 4rem;
      display: block;
      color: #0d0d0d; }
      .full-accord .card .card-header .accordion-toggle .arrow-right {
        position: absolute;
        right: 1.5rem;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      .full-accord .card .card-header .accordion-toggle.collapsed .arrow-right {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
  .full-accord .card .card-body {
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none; }
    .full-accord .card .card-body img {
      width: auto; }

.list-group {
  overflow: hidden; }
  .list-group li {
    -webkit-transform: translateX(25px);
    -moz-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -o-transform: translateX(25px);
    transform: translateX(25px);
    padding-right: 1.5rem; }
    .list-group li svg {
      position: absolute;
      -webkit-transform: translateX(-25px);
      -moz-transform: translateX(-25px);
      -ms-transform: translateX(-25px);
      -o-transform: translateX(-25px);
      transform: translateX(-25px);
      top: 15px; }
      .list-group li svg + div {
        display: inline; }
    .list-group li .fas {
      position: absolute;
      -webkit-transform: translateX(-25px);
      -moz-transform: translateX(-25px);
      -ms-transform: translateX(-25px);
      -o-transform: translateX(-25px);
      transform: translateX(-25px);
      top: 16px; }
    .list-group li i + div {
      display: inline; }
  .list-group.no-icon li {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.search-list p {
  margin: 0; }

li.search-list-item:not(:first-child) {
  border-top: 1px solid #848484;
  padding-top: 2rem;
  margin-top: 2rem; }

.sidebar-list > li.list-group-item {
  margin-bottom: 2rem; }
  .sidebar-list > li.list-group-item h5 {
    border-bottom: 1px solid #848484;
    padding-bottom: 1rem; }
  .sidebar-list > li.list-group-item ul li.list-group-item {
    padding: .3rem .2rem .3rem .5rem; }

.sidebar-list a {
  color: #0d0d0d; }

.page-link {
  background: transparent;
  color: #0d0d0d; }
  .page-link:hover {
    background: transparent; }

.search-wrap .sb-search-input {
  background: #f4f4f4;
  padding: 1.5rem;
  border-radius: 2rem;
  font-size: 24px;
  line-height: 1.5; }

.search-wrap .sb-search-submit {
  padding: 1.5rem; }

.search-wrap .sb-icon-search {
  padding: 1rem 1.5rem 1.8rem .5rem; }

.sidebar-list > li.list-group-item, .search-list .list-group-item {
  padding: 0; }

.search-no-list li {
  -webkit-transform: translateX(36px);
  -moz-transform: translateX(36px);
  -ms-transform: translateX(36px);
  -o-transform: translateX(36px);
  transform: translateX(36px); }
  .search-no-list li .fas {
    position: absolute;
    -webkit-transform: translateX(-36px);
    -moz-transform: translateX(-36px);
    -ms-transform: translateX(-36px);
    -o-transform: translateX(-36px);
    transform: translateX(-36px);
    top: 12px; }

.carousel .carousel-caption {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem 2rem;
  border-radius: 1rem;
  max-width: 600px; }

.overlay-dark {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 1rem; }

.overlay-lt {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 1rem; }

.fa-file-pdf {
  color: #ffbf00; }

.benefit-icon {
  position: absolute;
  padding: 1rem;
  border-radius: 50%;
  top: -2rem;
  left: 50%;
  margin-left: -31px; }
  .benefit-icon .fas, .benefit-icon .fab {
    font-size: 30px; }

.timeline {
  list-style: none;
  position: relative;
  padding: 0; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    margin: 0 1.5rem; }
  .timeline > li {
    margin-bottom: 20px;
    position: relative; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      padding: 1rem 1rem 1rem 4rem;
      position: relative; }
    .timeline > li .timeline-badge {
      color: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 0;
      z-index: 100;
      border-radius: 50%; }

.timeline-body > p + p {
  margin-top: 5px; }

.bb-double {
  border-bottom: 4px double #ccc;
  padding-bottom: 1rem; }

.bb-dotted {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1rem; }

.bb-dashed {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 1rem; }

.shadow-bottom {
  position: relative; }
  .shadow-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 96%;
    bottom: 0;
    height: 10px;
    left: 2%;
    border-radius: 100px / 5px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.6); }

.table td, .table th {
  border-bottom: 1px solid #dee2e6; }

.nav-tabs .nav-item {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 0; }
  .nav-tabs .nav-item:not(:last-child) {
    border-right: none; }

.nav-tabs .nav-item.active {
  border: 1px solid #ddd; }

.v-nav-pills .nav-link {
  border-bottom: 1px dotted #ddd;
  padding: 1rem 0;
  border-radius: 0; }

.progress {
  height: .25rem; }

.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards; }
  .progress-bar .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s; }

@keyframes progress {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em; }
  .pricing-item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
    -webkit-flex: 0 1 258px;
    flex: 0 1 258px; }
  .pricing-action {
    color: inherit;
    border: none;
    background: none; }
    .pricing-action:focus {
      outline: none; }

.pricing-feature-list {
  text-align: left; }

.pricing-palden .pricing-item {
  cursor: default;
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  margin: 1em; }

@media screen and (min-width: 66.25em) {
  .pricing-palden .pricing-item {
    margin: 1em 0.5rem; }
  .pricing-palden .pricing__item--featured {
    z-index: 10;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
    transform: scale(1.12);
    outline: 8px solid #f4f4f4;
    border: 1px solid #ddd; } }

.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px; }

.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff; }

.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0); }

.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0); }

.pricing-palden .icon {
  font-size: 2.5em; }

.pricing-palden .pricing-price {
  font-size: 4em;
  margin: 1rem;
  line-height: 0.75; }

.pricing-palden .pricing-currency, .pricing-palden .pricing-period {
  font-size: 0.25em;
  vertical-align: top; }

.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em; }

.pricing-palden .pricing-feature-list {
  margin: 0 0 -2px;
  padding: 0;
  list-style: none;
  text-align: center; }

.pricing-palden .pricing-feature {
  padding: 1em 0;
  border-bottom: 1px solid #ddd; }

.pricing-palden .pricing-action {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: #4d4766;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .pricing-palden .pricing-action:hover, .pricing-palden .pricing-action:focus {
    background-color: #100A13; }

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0; }

.spacetop {
  margin-top: 78px; }

#smartbanner {
  top: 0;
  position: absolute;
  width: 100%; }
  #smartbanner .sb-icon, #smartbanner .sb-info {
    vertical-align: top; }
  #smartbanner .sb-icon {
    max-width: 62px; }
  #smartbanner .sb-info h5 {
    font-size: 14px;
    margin-bottom: 0; }
  #smartbanner .sb-info p {
    font-size: 10px !important;
    margin: 0; }
  #smartbanner .sb-btn a {
    background-color: #ffbf00;
    color: #0d0d0d;
    padding: .6rem 1rem;
    border-radius: 2rem;
    font-size: 12px; }

.stabs-pagi .nav-tabs {
  border-top: 1px solid #dee2e6; }
  .stabs-pagi .nav-tabs .nav-item {
    border: none;
    border-bottom: 1px solid #dee2e6; }
    .stabs-pagi .nav-tabs .nav-item.active {
      background-color: transparent;
      border-bottom: 4px solid #ffbf00 !important; }

.trans {
  margin-top: 6rem; }

.banner-title, h1.section-title {
  font-size: 1.5rem; }

.sitemap .list-group {
  padding-left: 1.5rem; }
  .sitemap .list-group .list-group-item {
    display: list-item;
    padding-left: unset; }

.required {
  border-color: red !important; }

/* Media queries */
@media only screen and (max-width: 768px) {
  .carousel .carousel-caption {
    top: 10%;
    left: 11%; } }

@media only screen and (max-width: 640px) {
  .carousel .carousel-caption {
    left: 10%;
    right: 10%;
    padding: 1rem; }
    .carousel .carousel-caption h3, .carousel .carousel-caption h4 {
      font-size: 1.5rem; } }

@media only screen and (max-width: 575px) {
  .productrow2.collapse {
    display: block; }
  .products .navbar {
    display: none; }
  .full-accord .card .card-header .accordion-toggle {
    padding-left: 1rem; }
  .slider .btn-primary {
    padding: 1rem; } }

@media (min-width: 568px) {
  .col-sm-centered {
    clear: both;
    margin: 0 auto; }
  .awards .award-item {
    min-height: 250px;
    max-width: 400px; }
  .awards .award-detail {
    margin-top: 4rem; }
  .claims .claim svg.arrow-right {
    top: 2.5rem; }
  .accessibility ul li .separator {
    display: inline-block; } }

@media (min-width: 768px) {
  h3, h4 {
    font-size: 1.75rem; }
  h4 {
    font-size: 1.5rem; }
  .col-md-centered {
    clear: both;
    margin: 0 auto; }
  .claims .etiqacare {
    position: absolute;
    bottom: 0;
    max-width: 100%; }
  .claims .claim svg.arrow-right {
    right: -1rem;
    top: 4.5rem; }
  .breadcrumb-item:not(:first-child)::before {
    margin-left: 1.5rem;
    padding-left: 1.5rem; }
  .v-nav-pills .nav-link {
    padding: 1rem; }
  .nobuybtn {
    margin-top: -7.35rem; }
  footer .footer-menu ul li {
    width: 100%;
    margin-bottom: .5rem; }
  footer .footer-menu .social .list-inline-item {
    width: auto;
    display: inline-block; }
    footer .footer-menu .social .list-inline-item:not(:last-child) {
      margin-right: .75rem; }
  .product-content ul.list-group {
    margin-bottom: 9rem !important; }
  .product-content .product-links {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px; } }

@media (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    position: static; }
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .6rem;
      padding-left: .6rem; }
    .navbar .nav-item {
      padding: .5rem .5rem;
      margin: 0 .25rem; }
    .navbar .dropdown {
      position: static; }
      .navbar .dropdown.show .dropdown-toggle {
        position: relative; }
        .navbar .dropdown.show .dropdown-toggle:before {
          content: '';
          position: absolute;
          top: 35px;
          border-bottom: 10px solid #f1f1f1;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          transform: translateX(-10px);
          left: 50%; }
    .navbar .dropdown-menu {
      width: 100%;
      left: 0;
      right: 0;
      top: 59px;
      background-color: #f1f1f1;
      border: none;
      border-radius: 0;
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      -ms-transition: all 0s ease;
      -o-transition: all 0s ease;
      transition: all 0s ease; }
      .navbar .dropdown-menu .nav-item {
        border-left: 3px solid #ffbf00; }
      .navbar .dropdown-menu .nav-link:hover {
        font-weight: bold;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        padding-left: 1.2rem; }
    .navbar .lang .dropdown-menu {
      max-width: 200px;
      top: 50px;
      left: unset;
      right: 65px; }
      .navbar .lang .dropdown-menu .nav-link:hover {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        padding-left: .8rem; }
      .navbar .lang .dropdown-menu .nav-item {
        padding: 0;
        position: relative; }
        .navbar .lang .dropdown-menu .nav-item svg.check {
          position: absolute;
          right: 0;
          top: 10px; }
  .details img {
    margin-right: .6rem;
    max-width: 60px;
    margin-bottom: 1rem; }
  .navbar .dropdown:hover .dropdown-menu > * {
    display: block; }
  .awards .award-item {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }
  .awards .award-item:nth-of-type(2) {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  .awards .award-detail {
    margin-top: 2rem;
    padding: 0 3.5rem; }
  .claims .etiqacare {
    max-width: 65%; }
  .share {
    display: inline-block;
    float: right;
    margin: 0 0 -55px 0;
    -webkit-transform: translateY(-51px);
    -moz-transform: translateY(-51px);
    -ms-transform: translateY(-51px);
    -o-transform: translateY(-51px);
    transform: translateY(-51px); } }

@media only screen and (max-width: 1024px) {
  .copyright ul li img {
    width: 50px; } }

@media (min-width: 1200px) {
  .awards .award-detail {
    margin-top: 4rem; } }

/*# sourceMappingURL=main.css.map */